In [2]:
import pandas as pd

In [13]:
CCTV_Seoul = pd.read_excel("../data/01.Seoul_CCTV.xlsx")
CCTV_Seoul.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13
0,NaN,"(단위 : 대, '23.12.31.일 기준)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,순번,구분,총 계,2015년 이전\n설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
2,NaN,NaN,계,99515,8759,5725,8537,10770,10619,12855,11525,9358,9379,11988
3,NaN,1,종로구,2031,549,158,128,143,142,67,237,82,225,300
4,NaN,2,중 구,2718,275,236,239,372,386,155,364,419,137,135

In [27]:
CCTV_Seoul = pd.read_excel("../data/01.Seoul_CCTV.xlsx", header = 2, usecols="C:N")
CCTV_Seoul.head()

,구분,총 계,2015년 이전\n설치된 CCTV,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,99515,8759,5725,8537,10770,10619,12855,11525,9358,9379,11988
1,종로구,2031,549,158,128,143,142,67,237,82,225,300
2,중 구,2718,275,236,239,372,386,155,364,419,137,135
3,용산구,3258,88,38,295,491,147,335,473,486,500,405
4,성동구,4409,190,352,278,939,457,640,483,366,233,471

In [40]:
CCTV_Seoul.columns

Index(['구별', '총 계', '2015년도 이전', '2015년', '2016년', '2017년', '2018년', '2019년',
       '2020년', '2021년', '2022년', '2023년'],
      dtype='object')

In [38]:
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[0]: "구별"}, inplace=True)
CCTV_Seoul.rename(columns = {CCTV_Seoul.columns[2]: "2015년도 이전"}, inplace=True)
CCTV_Seoul.head()

,구별,총 계,2015년도 이전,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
0,계,99515,8759,5725,8537,10770,10619,12855,11525,9358,9379,11988
1,종로구,2031,549,158,128,143,142,67,237,82,225,300
2,중 구,2718,275,236,239,372,386,155,364,419,137,135
3,용산구,3258,88,38,295,491,147,335,473,486,500,405
4,성동구,4409,190,352,278,939,457,640,483,366,233,471

In [39]:
CCTV_Seoul.tail()

,구별,총 계,2015년도 이전,2015년,2016년,2017년,2018년,2019년,2020년,2021년,2022년,2023년
21,관악구,5772,774,447,607,675,663,889,404,549,135,629
22,서초구,5395,227,552,514,1022,422,339,419,565,878,457
23,강남구,7721,672,814,1280,981,735,787,913,505,588,446
24,송파구,4031,223,183,126,227,526,1050,237,151,431,877
25,강동구,3549,571,154,202,273,377,356,614,262,381,359

In [29]:
pop_Seoul = pd.read_excel("../data/01.Seoul_Population.xlsx")
pop_Seoul.head()

/usr/local/Caskroom/miniconda/base/envs/ds_study/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,동별(1),동별(2),2024 1/4,2024 1/4.1,2024 1/4.2,2024 1/4.3,2024 1/4.4,2024 1/4.5,2024 1/4.6,2024 1/4.7,2024 1/4.8,2024 1/4.9,2024 1/4.10,2024 1/4.11
0,동별(1),동별(2),세대 (세대),계 (명),계 (명),계 (명),한국인 (명),한국인 (명),한국인 (명),등록외국인 (명),등록외국인 (명),등록외국인 (명),세대당인구 (명),65세이상고령자 (명)
1,동별(1),동별(2),소계,소계,남자,여자,소계,남자,여자,소계,남자,여자,소계,소계
2,합계,소계,4485819,9635445,4644729,4990716,9384739,4536128,4848611,250706,108601,142105,2.09,1768948
3,합계,종로구,72404,150550,71861,78689,139498,67228,72270,11052,4633,6419,1.93,29127
4,합계,중구,65132,131812,63506,68306,121602,58767,62835,10210,4739,5471,1.87,26302

In [34]:
pop_Seoul = pd.read_excel("../data/01.Seoul_Population.xlsx", header = 1, usecols="B, D, G, J, N")
pop_Seoul.head()

/usr/local/Caskroom/miniconda/base/envs/ds_study/lib/python3.8/site-packages/openpyxl/styles/stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

   동별(2)    계 (명)  한국인 (명) 등록외국인 (명) 65세이상고령자 (명)
0  동별(2)       소계       소계        소계           소계
1     소계  9635445  9384739    250706      1768948
2    종로구   150550   139498     11052        29127
3     중구   131812   121602     10210        26302
4    용산구   223433   209849     13584        39671

In [36]:
pop_Seoul.rename(
    columns = {
        pop_Seoul.columns[0]: "구별",
        pop_Seoul.columns[1]: "인구수",
        pop_Seoul.columns[2]: "한국인",
        pop_Seoul.columns[3]: "외국인",
        pop_Seoul.columns[4]: "고령자",
    },
    inplace = True
)
pop_Seoul.head()

      구별      인구수      한국인     외국인      고령자
0  동별(2)       소계       소계      소계       소계
1     소계  9635445  9384739  250706  1768948
2    종로구   150550   139498   11052    29127
3     중구   131812   121602   10210    26302
4    용산구   223433   209849   13584    39671

## Pandas 기초

In [41]:
import pandas as pd
import numpy as np

- pandas는 통상 pd
- numpy는 통상 np

### Series
- index 와 value 로 이루어져 있다.
- 한 가지 데이터 타입만 가질 수 있다.

In [42]:
pd.Series([1, 2, 3, 4])

0    1
1    2
2    3
3    4
dtype: int64

In [45]:
pd.Series([1, 2, 3, 4], dtype=np.float64)

0    1.0
1    2.0
2    3.0
3    4.0
dtype: float64

In [46]:
pd.Series([1, 2, 3, 4], dtype=str)

0    1
1    2
2    3
3    4
dtype: object

In [47]:
pd.Series({"Key": "Value"})

Key    Value
dtype: object

In [49]:
data = pd.Series([1, 2, 3, 4])
data

0    1
1    2
2    3
3    4
dtype: int64

In [50]:
data % 2

0    1
1    0
2    1
3    0
dtype: int64

### 날짜 데이터

In [53]:
pd.date_range("20210101", periods = 6)

DatetimeIndex(['2021-01-01', '2021-01-02', '2021-01-03', '2021-01-04',
               '2021-01-05', '2021-01-06'],
              dtype='datetime64[ns]', freq='D')