# 02. Analysis Seoul Crime

[1. ÌîÑÎ°úÏ†ùÌä∏ Í∞úÏöî](#ÌîÑÎ°úÏ†ùÌä∏-Í∞úÏöî) <br>
[2. Îç∞Ïù¥ÌÑ∞ Í∞úÏöî](#Îç∞Ïù¥ÌÑ∞-Í∞úÏöî) <br>
[Pandas pivot table](#Pandas-pivot-table) <br>
[3. ÏÑúÏö∏Ïãú Î≤îÏ£Ñ ÌòÑÌô© Îç∞Ïù¥ÌÑ∞ Ï†ïÎ¶¨(pivot_table ÏÇ¨Ïö©)](#ÏÑúÏö∏Ïãú-Î≤îÏ£Ñ-ÌòÑÌô©-Îç∞Ïù¥ÌÑ∞-Ï†ïÎ¶¨) <br>
[4. Python Î™®Îìà ÏÑ§Ïπò(pip, conda)](#python-Î™®Îìà-ÏÑ§Ïπò) <br>


[GithubÏóêÏÑúÎäî tocÍ∞Ä ÏûëÎèôÏïàÌï®. nbviewerÎ°ú Î≥¥Í∏∞üëÄ](https://nbviewer.org/github/solpinetree/ds_study/blob/main/source_code/02.Analysis%20Seoul%20Crime.ipynb)

<a class="anchor" id="ÌîÑÎ°úÏ†ùÌä∏-Í∞úÏöî"></a>
## 1. ÌîÑÎ°úÏ†ùÌä∏ Í∞úÏöî

<a class="anchor" id="Îç∞Ïù¥ÌÑ∞-Í∞úÏöî"></a>
## 2. Îç∞Ïù¥ÌÑ∞ Í∞úÏöî

In [6]:
import numpy as np
import pandas as pd

In [7]:
# Îç∞Ïù¥ÌÑ∞ ÏùΩÍ∏∞
crime_raw_data = pd.read_csv("../data/02.crime_in_Seoul.csv", thousands=",", encoding="euc-kr")
crime_raw_data.head()

   Íµ¨Î∂Ñ     Ï£ÑÏ¢Ö Î∞úÏÉùÍ≤ÄÍ±∞   Í±¥Ïàò
0  Ï§ëÎ∂Ä     ÏÇ¥Ïù∏   Î∞úÏÉù    1
1  Ï§ëÎ∂Ä     ÏÇ¥Ïù∏   Í≤ÄÍ±∞    2
2  Ï§ëÎ∂Ä     Í∞ïÎèÑ   Î∞úÏÉù    3
3  Ï§ëÎ∂Ä     Í∞ïÎèÑ   Í≤ÄÍ±∞    2
4  Ï§ëÎ∂Ä  Í∞ïÍ∞Ñ,Ï∂îÌñâ   Î∞úÏÉù  137

In [8]:
crime_raw_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 310 entries, 0 to 309
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Íµ¨Î∂Ñ      310 non-null    object
 1   Ï£ÑÏ¢Ö      310 non-null    object
 2   Î∞úÏÉùÍ≤ÄÍ±∞    310 non-null    object
 3   Í±¥Ïàò      310 non-null    int64
dtypes: int64(1), object(3)
memory usage: 9.8+ KB

- info() : Îç∞Ïù¥ÌÑ∞Ïùò Í∞úÏöî ÌôïÏù∏ÌïòÍ∏∞
- RangeIndexÏôÄ Í∞Å Ïª¨Îüº count ÎπÑÍµê

In [9]:
crime_raw_data["Ï£ÑÏ¢Ö"].unique()

array(['ÏÇ¥Ïù∏', 'Í∞ïÎèÑ', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Ï†àÎèÑ', 'Ìè≠Î†•', 'Í∞ïÍ∞Ñ'], dtype=object)

In [10]:
crime_raw_data.head()

   Íµ¨Î∂Ñ     Ï£ÑÏ¢Ö Î∞úÏÉùÍ≤ÄÍ±∞   Í±¥Ïàò
0  Ï§ëÎ∂Ä     ÏÇ¥Ïù∏   Î∞úÏÉù    1
1  Ï§ëÎ∂Ä     ÏÇ¥Ïù∏   Í≤ÄÍ±∞    2
2  Ï§ëÎ∂Ä     Í∞ïÎèÑ   Î∞úÏÉù    3
3  Ï§ëÎ∂Ä     Í∞ïÎèÑ   Í≤ÄÍ±∞    2
4  Ï§ëÎ∂Ä  Í∞ïÍ∞Ñ,Ï∂îÌñâ   Î∞úÏÉù  137

In [11]:
crime_raw_data.tail()

     Íµ¨Î∂Ñ     Ï£ÑÏ¢Ö Î∞úÏÉùÍ≤ÄÍ±∞    Í±¥Ïàò
305  ÏàòÏÑú  Í∞ïÍ∞Ñ,Ï∂îÌñâ   Í≤ÄÍ±∞   175
306  ÏàòÏÑú     Ï†àÎèÑ   Î∞úÏÉù   930
307  ÏàòÏÑú     Ï†àÎèÑ   Í≤ÄÍ±∞   553
308  ÏàòÏÑú     Ìè≠Î†•   Î∞úÏÉù  1268
309  ÏàòÏÑú     Ìè≠Î†•   Í≤ÄÍ±∞  1081

---

<a class="anchor" id="Pandas-pivot-table"></a>
## Pandas pivot table
- index, columns, values, aggfunc

In [12]:
df = pd.read_excel("../data/02.sales-funnel.xlsx")
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

### index ÏÑ§Ï†ï

In [13]:
df["Name"].unique()

array(['Trantow-Barrows', 'Fritsch, Russel and Anderson', 'Kiehn-Spinka',
       'Kulas Inc', 'Jerde-Hilpert', 'Barton LLC', 'Herman LLC',
       'Purdy-Kunde', 'Stokes LLC', 'Kassulke, Ondricka and Metz',
       'Keeling LLC', 'Koepp Ltd'], dtype=object)

In [14]:
# Name Ïª¨ÎüºÏùÑ Ïù∏Îç±Ïä§Î°ú ÏÑ§Ï†ï
# pd.pivot_table(df, index="Name", values=["Account", "Price", "Quantity"])
# valuesÎ°ú ÏßëÍ≥Ñ Í∞ÄÎä•Ìïú Ïª¨ÎüºÎì§Îßå ÎÑòÍ≤®Ïïº ÏûëÎèôÏùÑ Ìï®.
df.pivot_table(index="Name", values=["Account", "Price", "Quantity"])

                              Account   Price  Quantity
Name
Barton LLC                     740150   35000  1.000000
Fritsch, Russel and Anderson   737550   35000  1.000000
Herman LLC                     141962   65000  2.000000
Jerde-Hilpert                  412290    5000  2.000000
Kassulke, Ondricka and Metz    307599    7000  3.000000
Keeling LLC                    688981  100000  5.000000
Kiehn-Spinka                   146832   65000  2.000000
Koepp Ltd                      729833   35000  2.000000
Kulas Inc                      218895   25000  1.500000
Purdy-Kunde                    163416   30000  1.000000
Stokes LLC                     239344    7500  1.000000
Trantow-Barrows                714466   15000  1.333333

In [15]:
# Î©ÄÌã∞ Ïù∏Îç±Ïä§ ÏÑ§Ï†ï
# valuesÎ°ú ÏßëÍ≥Ñ Í∞ÄÎä•Ìïú Ïª¨ÎüºÎì§Îßå ÎÑòÍ≤®Ïïº ÏûëÎèôÏùÑ Ìï®.
df.pivot_table(index=["Name", "Rep", "Manager"], values=["Account", "Price", "Quantity"])

,,,Account,Price,Quantity
Name,Rep,Manager,,,
Barton LLC,John Smith,Debra Henley,740150,35000,1.000000
"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,737550,35000,1.000000
Herman LLC,Cedric Moss,Fred Anderson,141962,65000,2.000000
Jerde-Hilpert,John Smith,Debra Henley,412290,5000,2.000000
"Kassulke, Ondricka and Metz",Wendy Yule,Fred Anderson,307599,7000,3.000000
Keeling LLC,Wendy Yule,Fred Anderson,688981,100000,5.000000
Kiehn-Spinka,Daniel Hilton,Debra Henley,146832,65000,2.000000
Koepp Ltd,Wendy Yule,Fred Anderson,729833,35000,2.000000
Kulas Inc,Daniel Hilton,Debra Henley,218895,25000,1.500000
Purdy-Kunde,Cedric Moss,Fred Anderson,163416,30000,1.000000
Stokes LLC,Cedric Moss,Fred Anderson,239344,7500,1.000000
Trantow-Barrows,Craig Booker,Debra Henley,714466,15000,1.333333

In [16]:
# Î©ÄÌã∞ Ïù∏Îç±Ïä§ ÏÑ§Ï†ï
df.pivot_table(index=["Manager", "Rep"], values=["Account", "Price", "Quantity"])

                              Account         Price  Quantity
Manager       Rep
Debra Henley  Craig Booker   720237.0  20000.000000  1.250000
              Daniel Hilton  194874.0  38333.333333  1.666667
              John Smith     576220.0  20000.000000  1.500000
Fred Anderson Cedric Moss    196016.5  27500.000000  1.250000
              Wendy Yule     614061.5  44250.000000  3.000000

### values ÏÑ§Ï†ï( + aggfunc ÏÑ§Ï†ï)

In [17]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [18]:
# Í∏∞Î≥∏ aggfuncÎäî np.mean
df.pivot_table(index=["Manager", "Rep"], values="Price")

                                    Price
Manager       Rep
Debra Henley  Craig Booker   20000.000000
              Daniel Hilton  38333.333333
              John Smith     20000.000000
Fred Anderson Cedric Moss    27500.000000
              Wendy Yule     44250.000000

In [19]:
# Price Ïª¨ÎüºÏóê sum Ïó∞ÏÇ∞ Ï†ÅÏö©
df.pivot_table(index=["Manager", "Rep"], values="Price", aggfunc=np.sum)

                              Price
Manager       Rep
Debra Henley  Craig Booker    80000
              Daniel Hilton  115000
              John Smith      40000
Fred Anderson Cedric Moss    110000
              Wendy Yule     177000

In [20]:
df.pivot_table(index=["Manager", "Rep"], values="Price", aggfunc=[np.sum, len])

                                sum   len
                              Price Price
Manager       Rep
Debra Henley  Craig Booker    80000     4
              Daniel Hilton  115000     3
              John Smith      40000     2
Fred Anderson Cedric Moss    110000     4
              Wendy Yule     177000     4

### columns ÏÑ§Ï†ï( + fill_value ÏÑ§Ï†ï)
Keys to group by on the pivot table column

In [21]:
df.head()

,Account,Name,Rep,Manager,Product,Quantity,Price,Status
0,714466,Trantow-Barrows,Craig Booker,Debra Henley,CPU,1,30000,presented
1,714466,Trantow-Barrows,Craig Booker,Debra Henley,Software,1,10000,presented
2,714466,Trantow-Barrows,Craig Booker,Debra Henley,Maintenance,2,5000,pending
3,737550,"Fritsch, Russel and Anderson",Craig Booker,Debra Henley,CPU,1,35000,declined
4,146832,Kiehn-Spinka,Daniel Hilton,Debra Henley,CPU,2,65000,won

In [22]:
# ProductÎ•º Ïª¨ÎüºÏúºÎ°ú ÏßÄÏ†ï
df.pivot_table(index=["Manager", "Rep"], values="Price", columns="Product", aggfunc=np.sum)

Product                           CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000.0       5000.0      NaN   10000.0
              Daniel Hilton  105000.0          NaN      NaN   10000.0
              John Smith      35000.0       5000.0      NaN       NaN
Fred Anderson Cedric Moss     95000.0       5000.0      NaN   10000.0
              Wendy Yule     165000.0       7000.0   5000.0       NaN

In [23]:
# Nan Í∞í ÏÑ§Ï†ï : fill_value
df.pivot_table(index=["Manager", "Rep"], values="Price", columns="Product", aggfunc=np.sum, fill_value=0)

Product                         CPU  Maintenance  Monitor  Software
Manager       Rep
Debra Henley  Craig Booker    65000         5000        0     10000
              Daniel Hilton  105000            0        0     10000
              John Smith      35000         5000        0         0
Fred Anderson Cedric Moss     95000         5000        0     10000
              Wendy Yule     165000         7000     5000         0

###  2Í∞ú Ïù¥ÏÉÅ index, values ÏÑ§Ï†ï

In [24]:
df.pivot_table(index=["Manager", "Rep", "Product"], values=["Price", "Quantity"], aggfunc=np.sum, fill_value=0)

                                          Price  Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000         2
                            Maintenance    5000         2
                            Software      10000         1
              Daniel Hilton CPU          105000         4
                            Software      10000         1
              John Smith    CPU           35000         1
                            Maintenance    5000         2
Fred Anderson Cedric Moss   CPU           95000         3
                            Maintenance    5000         1
                            Software      10000         1
              Wendy Yule    CPU          165000         7
                            Maintenance    7000         3
                            Monitor        5000         2

In [25]:
df.pivot_table(
    index=["Manager", "Rep", "Product"], 
    values=["Price", "Quantity"], 
    aggfunc=[np.sum, np.mean], 
    fill_value=0,
    margins=True) # Ï¥ùÍ≥Ñ(All) Ï∂îÍ∞Ä

                                            sum                   mean  \
                                          Price Quantity         Price
Manager       Rep           Product
Debra Henley  Craig Booker  CPU           65000        2  32500.000000
                            Maintenance    5000        2   5000.000000
                            Software      10000        1  10000.000000
              Daniel Hilton CPU          105000        4  52500.000000
                            Software      10000        1  10000.000000
              John Smith    CPU           35000        1  35000.000000
                            Maintenance    5000        2   5000.000000
Fred Anderson Cedric Moss   CPU           95000        3  47500.000000
                            Maintenance    5000        1   5000.000000
                            Software      10000        1  10000.000000
              Wendy Yule    CPU          165000        7  82500.000000
                            Maintenance    7000        3   7000.000000
                            Monitor        5000        2   5000.000000
All                                      522000       30  30705.882353


                                         Quantity
Manager       Rep           Product
Debra Henley  Craig Booker  CPU          1.000000
                            Maintenance  2.000000
                            Software     1.000000
              Daniel Hilton CPU          2.000000
                            Software     1.000000
              John Smith    CPU          1.000000
                            Maintenance  2.000000
Fred Anderson Cedric Moss   CPU          1.500000
                            Maintenance  1.000000
                            Software     1.000000
              Wendy Yule    CPU          3.500000
                            Maintenance  3.000000
                            Monitor      2.000000
All                                      1.764706


---

<a class="anchor" id="ÏÑúÏö∏Ïãú-Î≤îÏ£Ñ-ÌòÑÌô©-Îç∞Ïù¥ÌÑ∞-Ï†ïÎ¶¨"></a>
## 3. ÏÑúÏö∏Ïãú Î≤îÏ£Ñ ÌòÑÌô© Îç∞Ïù¥ÌÑ∞ Ï†ïÎ¶¨(pivot_table ÏÇ¨Ïö©)

</detail>

In [26]:
crime_raw_data.head()

   Íµ¨Î∂Ñ     Ï£ÑÏ¢Ö Î∞úÏÉùÍ≤ÄÍ±∞   Í±¥Ïàò
0  Ï§ëÎ∂Ä     ÏÇ¥Ïù∏   Î∞úÏÉù    1
1  Ï§ëÎ∂Ä     ÏÇ¥Ïù∏   Í≤ÄÍ±∞    2
2  Ï§ëÎ∂Ä     Í∞ïÎèÑ   Î∞úÏÉù    3
3  Ï§ëÎ∂Ä     Í∞ïÎèÑ   Í≤ÄÍ±∞    2
4  Ï§ëÎ∂Ä  Í∞ïÍ∞Ñ,Ï∂îÌñâ   Î∞úÏÉù  137

In [27]:
crime_station = crime_raw_data.pivot_table(
    crime_raw_data, 
    index="Íµ¨Î∂Ñ", 
    columns=["Ï£ÑÏ¢Ö", "Î∞úÏÉùÍ≤ÄÍ±∞"], 
    aggfunc=[np.sum],
    fill_value=0)

crime_station.head()

     sum
      Í±¥Ïàò
Ï£ÑÏ¢Ö    Í∞ïÍ∞Ñ    Í∞ïÍ∞Ñ,Ï∂îÌñâ      Í∞ïÎèÑ    ÏÇ¥Ïù∏        Ï†àÎèÑ          Ìè≠Î†•
Î∞úÏÉùÍ≤ÄÍ±∞  Í≤ÄÍ±∞ Î∞úÏÉù    Í≤ÄÍ±∞   Î∞úÏÉù Í≤ÄÍ±∞ Î∞úÏÉù Í≤ÄÍ±∞  Î∞úÏÉù    Í≤ÄÍ±∞    Î∞úÏÉù    Í≤ÄÍ±∞    Î∞úÏÉù
Íµ¨Î∂Ñ
Í∞ïÎÇ®     0  0   359  458  8  9  5   6   654  1565  2178  2494
Í∞ïÎèô     0  0   134  157  5  5  6   5   900  1672  1599  1872
Í∞ïÎ∂Å     0  0   147  177  6  5  4   5   589   872  1597  1773
Í∞ïÏÑú     0  0   195  261  7  7  3   3  1185  1991  2201  2401
Í¥ÄÏïÖ     0  0   279  327  8  9  8  10  1050  1966  2066  2567

In [28]:
crime_station.columns # Multiindex

MultiIndex([('sum', 'Í±¥Ïàò',    'Í∞ïÍ∞Ñ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÍ∞Ñ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÎèÑ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÎèÑ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'ÏÇ¥Ïù∏', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'ÏÇ¥Ïù∏', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Ï†àÎèÑ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Ï†àÎèÑ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Ìè≠Î†•', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Ìè≠Î†•', 'Î∞úÏÉù')],
           names=[None, None, 'Ï£ÑÏ¢Ö', 'Î∞úÏÉùÍ≤ÄÍ±∞'])

### Ï£ÑÏ¢Ö Ïª¨ÎüºÏóêÏÑú `Í∞ïÍ∞Ñ`Í≥º `Í∞ïÍ∞Ñ,Ï∂îÌñâ` Îç∞Ïù¥ÌÑ∞ Ìï©Ïπ®

In [29]:
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ", "Í≤ÄÍ±∞"]

Íµ¨Î∂Ñ
Í∞ïÎÇ®      0
Í∞ïÎèô      0
Í∞ïÎ∂Å      0
Í∞ïÏÑú      0
Í¥ÄÏïÖ      0
Í¥ëÏßÑ      0
Íµ¨Î°ú      0
Í∏àÏ≤ú      0
ÎÇ®ÎåÄÎ¨∏     0
ÎÖ∏Ïõê      0
ÎèÑÎ¥â     54
ÎèôÎåÄÎ¨∏     0
ÎèôÏûë      0
ÎßàÌè¨      0
Î∞©Î∞∞     46
ÏÑúÎåÄÎ¨∏     0
ÏÑúÎ∂Ä      0
ÏÑúÏ¥à      0
ÏÑ±Îèô      0
ÏÑ±Î∂Å     78
ÏÜ°Ìåå      0
ÏàòÏÑú      0
ÏñëÏ≤ú     92
ÏòÅÎì±Ìè¨     0
Ïö©ÏÇ∞      0
ÏùÄÌèâ      0
Ï¢ÖÎ°ú      0
Ï¢ÖÏïî     51
Ï§ëÎûë      0
Ï§ëÎ∂Ä      0
ÌòúÌôî      0
Name: (sum, Í±¥Ïàò, Í∞ïÍ∞Ñ, Í≤ÄÍ±∞), dtype: int64

In [30]:
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Í≤ÄÍ±∞"]

Íµ¨Î∂Ñ
Í∞ïÎÇ®     359
Í∞ïÎèô     134
Í∞ïÎ∂Å     147
Í∞ïÏÑú     195
Í¥ÄÏïÖ     279
Í¥ëÏßÑ     174
Íµ¨Î°ú     145
Í∏àÏ≤ú      87
ÎÇ®ÎåÄÎ¨∏     36
ÎÖ∏Ïõê     151
ÎèÑÎ¥â       0
ÎèôÎåÄÎ¨∏    106
ÎèôÏûë     107
ÎßàÌè¨     368
Î∞©Î∞∞       0
ÏÑúÎåÄÎ¨∏    144
ÏÑúÎ∂Ä      64
ÏÑúÏ¥à     282
ÏÑ±Îèô      97
ÏÑ±Î∂Å       0
ÏÜ°Ìåå     220
ÏàòÏÑú     175
ÏñëÏ≤ú       0
ÏòÅÎì±Ìè¨    237
Ïö©ÏÇ∞     238
ÏùÄÌèâ      82
Ï¢ÖÎ°ú     120
Ï¢ÖÏïî       0
Ï§ëÎûë     121
Ï§ëÎ∂Ä      87
ÌòúÌôî      60
Name: (sum, Í±¥Ïàò, Í∞ïÍ∞Ñ,Ï∂îÌñâ, Í≤ÄÍ±∞), dtype: int64

In [31]:
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Í≤ÄÍ±∞"] = crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Í≤ÄÍ±∞"]  + crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ", "Í≤ÄÍ±∞"] 
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Í≤ÄÍ±∞"]

Íµ¨Î∂Ñ
Í∞ïÎÇ®     359
Í∞ïÎèô     134
Í∞ïÎ∂Å     147
Í∞ïÏÑú     195
Í¥ÄÏïÖ     279
Í¥ëÏßÑ     174
Íµ¨Î°ú     145
Í∏àÏ≤ú      87
ÎÇ®ÎåÄÎ¨∏     36
ÎÖ∏Ïõê     151
ÎèÑÎ¥â      54
ÎèôÎåÄÎ¨∏    106
ÎèôÏûë     107
ÎßàÌè¨     368
Î∞©Î∞∞      46
ÏÑúÎåÄÎ¨∏    144
ÏÑúÎ∂Ä      64
ÏÑúÏ¥à     282
ÏÑ±Îèô      97
ÏÑ±Î∂Å      78
ÏÜ°Ìåå     220
ÏàòÏÑú     175
ÏñëÏ≤ú      92
ÏòÅÎì±Ìè¨    237
Ïö©ÏÇ∞     238
ÏùÄÌèâ      82
Ï¢ÖÎ°ú     120
Ï¢ÖÏïî      51
Ï§ëÎûë     121
Ï§ëÎ∂Ä      87
ÌòúÌôî      60
Name: (sum, Í±¥Ïàò, Í∞ïÍ∞Ñ,Ï∂îÌñâ, Í≤ÄÍ±∞), dtype: int64

In [32]:
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ", "Î∞úÏÉù"]

Íµ¨Î∂Ñ
Í∞ïÎÇ®       0
Í∞ïÎèô       0
Í∞ïÎ∂Å       0
Í∞ïÏÑú       0
Í¥ÄÏïÖ       0
Í¥ëÏßÑ       0
Íµ¨Î°ú       0
Í∏àÏ≤ú       0
ÎÇ®ÎåÄÎ¨∏      0
ÎÖ∏Ïõê       0
ÎèÑÎ¥â      70
ÎèôÎåÄÎ¨∏      0
ÎèôÏûë       0
ÎßàÌè¨       0
Î∞©Î∞∞      61
ÏÑúÎåÄÎ¨∏      0
ÏÑúÎ∂Ä       0
ÏÑúÏ¥à       0
ÏÑ±Îèô       0
ÏÑ±Î∂Å     103
ÏÜ°Ìåå       0
ÏàòÏÑú       0
ÏñëÏ≤ú     114
ÏòÅÎì±Ìè¨      0
Ïö©ÏÇ∞       0
ÏùÄÌèâ       0
Ï¢ÖÎ°ú       0
Ï¢ÖÏïî      55
Ï§ëÎûë       0
Ï§ëÎ∂Ä       0
ÌòúÌôî       0
Name: (sum, Í±¥Ïàò, Í∞ïÍ∞Ñ, Î∞úÏÉù), dtype: int64

In [33]:
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Î∞úÏÉù"]

Íµ¨Î∂Ñ
Í∞ïÎÇ®     458
Í∞ïÎèô     157
Í∞ïÎ∂Å     177
Í∞ïÏÑú     261
Í¥ÄÏïÖ     327
Í¥ëÏßÑ     230
Íµ¨Î°ú     217
Í∏àÏ≤ú     127
ÎÇ®ÎåÄÎ¨∏     57
ÎÖ∏Ïõê     180
ÎèÑÎ¥â       0
ÎèôÎåÄÎ¨∏    125
ÎèôÏûë     212
ÎßàÌè¨     436
Î∞©Î∞∞       0
ÏÑúÎåÄÎ¨∏    157
ÏÑúÎ∂Ä      82
ÏÑúÏ¥à     370
ÏÑ±Îèô     125
ÏÑ±Î∂Å       0
ÏÜ°Ìåå     290
ÏàòÏÑú     209
ÏñëÏ≤ú       0
ÏòÅÎì±Ìè¨    327
Ïö©ÏÇ∞     280
ÏùÄÌèâ      94
Ï¢ÖÎ°ú     142
Ï¢ÖÏïî       0
Ï§ëÎûë     150
Ï§ëÎ∂Ä     137
ÌòúÌôî      86
Name: (sum, Í±¥Ïàò, Í∞ïÍ∞Ñ,Ï∂îÌñâ, Î∞úÏÉù), dtype: int64

In [34]:
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Î∞úÏÉù"] = crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Î∞úÏÉù"]  + crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ", "Î∞úÏÉù"] 
crime_station["sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ,Ï∂îÌñâ", "Î∞úÏÉù"]

Íµ¨Î∂Ñ
Í∞ïÎÇ®     458
Í∞ïÎèô     157
Í∞ïÎ∂Å     177
Í∞ïÏÑú     261
Í¥ÄÏïÖ     327
Í¥ëÏßÑ     230
Íµ¨Î°ú     217
Í∏àÏ≤ú     127
ÎÇ®ÎåÄÎ¨∏     57
ÎÖ∏Ïõê     180
ÎèÑÎ¥â      70
ÎèôÎåÄÎ¨∏    125
ÎèôÏûë     212
ÎßàÌè¨     436
Î∞©Î∞∞      61
ÏÑúÎåÄÎ¨∏    157
ÏÑúÎ∂Ä      82
ÏÑúÏ¥à     370
ÏÑ±Îèô     125
ÏÑ±Î∂Å     103
ÏÜ°Ìåå     290
ÏàòÏÑú     209
ÏñëÏ≤ú     114
ÏòÅÎì±Ìè¨    327
Ïö©ÏÇ∞     280
ÏùÄÌèâ      94
Ï¢ÖÎ°ú     142
Ï¢ÖÏïî      55
Ï§ëÎûë     150
Ï§ëÎ∂Ä     137
ÌòúÌôî      86
Name: (sum, Í±¥Ïàò, Í∞ïÍ∞Ñ,Ï∂îÌñâ, Î∞úÏÉù), dtype: int64

In [35]:
crime_station.columns

MultiIndex([('sum', 'Í±¥Ïàò',    'Í∞ïÍ∞Ñ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÍ∞Ñ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÎèÑ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÎèÑ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'ÏÇ¥Ïù∏', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'ÏÇ¥Ïù∏', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Ï†àÎèÑ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Ï†àÎèÑ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Ìè≠Î†•', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Ìè≠Î†•', 'Î∞úÏÉù')],
           names=[None, None, 'Ï£ÑÏ¢Ö', 'Î∞úÏÉùÍ≤ÄÍ±∞'])

In [36]:
crime_station.drop([("sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ", "Î∞úÏÉù"), ("sum", "Í±¥Ïàò", "Í∞ïÍ∞Ñ", "Í≤ÄÍ±∞")], axis = 1, inplace=True)
crime_station.head()

       sum
        Í±¥Ïàò
Ï£ÑÏ¢Ö   Í∞ïÍ∞Ñ,Ï∂îÌñâ      Í∞ïÎèÑ    ÏÇ¥Ïù∏        Ï†àÎèÑ          Ìè≠Î†•
Î∞úÏÉùÍ≤ÄÍ±∞    Í≤ÄÍ±∞   Î∞úÏÉù Í≤ÄÍ±∞ Î∞úÏÉù Í≤ÄÍ±∞  Î∞úÏÉù    Í≤ÄÍ±∞    Î∞úÏÉù    Í≤ÄÍ±∞    Î∞úÏÉù
Íµ¨Î∂Ñ
Í∞ïÎÇ®     359  458  8  9  5   6   654  1565  2178  2494
Í∞ïÎèô     134  157  5  5  6   5   900  1672  1599  1872
Í∞ïÎ∂Å     147  177  6  5  4   5   589   872  1597  1773
Í∞ïÏÑú     195  261  7  7  3   3  1185  1991  2201  2401
Í¥ÄÏïÖ     279  327  8  9  8  10  1050  1966  2066  2567

### MultiIndex Ï†ïÎ¶¨

In [37]:
crime_station.columns

MultiIndex([('sum', 'Í±¥Ïàò', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò', 'Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÎèÑ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Í∞ïÎèÑ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'ÏÇ¥Ïù∏', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'ÏÇ¥Ïù∏', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Ï†àÎèÑ', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Ï†àÎèÑ', 'Î∞úÏÉù'),
            ('sum', 'Í±¥Ïàò',    'Ìè≠Î†•', 'Í≤ÄÍ±∞'),
            ('sum', 'Í±¥Ïàò',    'Ìè≠Î†•', 'Î∞úÏÉù')],
           names=[None, None, 'Ï£ÑÏ¢Ö', 'Î∞úÏÉùÍ≤ÄÍ±∞'])

In [38]:
crime_station.columns = crime_station.columns.droplevel([0, 1]) # Îã§Ï§ë Ïª¨ÎüºÏóêÏÑú ÌäπÏ†ï Ïª¨Îüº Ï†úÍ±∞

In [39]:
crime_station.columns

MultiIndex([('Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Í≤ÄÍ±∞'),
            ('Í∞ïÍ∞Ñ,Ï∂îÌñâ', 'Î∞úÏÉù'),
            (   'Í∞ïÎèÑ', 'Í≤ÄÍ±∞'),
            (   'Í∞ïÎèÑ', 'Î∞úÏÉù'),
            (   'ÏÇ¥Ïù∏', 'Í≤ÄÍ±∞'),
            (   'ÏÇ¥Ïù∏', 'Î∞úÏÉù'),
            (   'Ï†àÎèÑ', 'Í≤ÄÍ±∞'),
            (   'Ï†àÎèÑ', 'Î∞úÏÉù'),
            (   'Ìè≠Î†•', 'Í≤ÄÍ±∞'),
            (   'Ìè≠Î†•', 'Î∞úÏÉù')],
           names=['Ï£ÑÏ¢Ö', 'Î∞úÏÉùÍ≤ÄÍ±∞'])

In [40]:
crime_station.head()

Ï£ÑÏ¢Ö   Í∞ïÍ∞Ñ,Ï∂îÌñâ      Í∞ïÎèÑ    ÏÇ¥Ïù∏        Ï†àÎèÑ          Ìè≠Î†•
Î∞úÏÉùÍ≤ÄÍ±∞    Í≤ÄÍ±∞   Î∞úÏÉù Í≤ÄÍ±∞ Î∞úÏÉù Í≤ÄÍ±∞  Î∞úÏÉù    Í≤ÄÍ±∞    Î∞úÏÉù    Í≤ÄÍ±∞    Î∞úÏÉù
Íµ¨Î∂Ñ
Í∞ïÎÇ®     359  458  8  9  5   6   654  1565  2178  2494
Í∞ïÎèô     134  157  5  5  6   5   900  1672  1599  1872
Í∞ïÎ∂Å     147  177  6  5  4   5   589   872  1597  1773
Í∞ïÏÑú     195  261  7  7  3   3  1185  1991  2201  2401
Í¥ÄÏïÖ     279  327  8  9  8  10  1050  1966  2066  2567

### index ÌôïÏù∏

In [41]:
crime_station.index

Index(['Í∞ïÎÇ®', 'Í∞ïÎèô', 'Í∞ïÎ∂Å', 'Í∞ïÏÑú', 'Í¥ÄÏïÖ', 'Í¥ëÏßÑ', 'Íµ¨Î°ú', 'Í∏àÏ≤ú', 'ÎÇ®ÎåÄÎ¨∏', 'ÎÖ∏Ïõê', 'ÎèÑÎ¥â',
       'ÎèôÎåÄÎ¨∏', 'ÎèôÏûë', 'ÎßàÌè¨', 'Î∞©Î∞∞', 'ÏÑúÎåÄÎ¨∏', 'ÏÑúÎ∂Ä', 'ÏÑúÏ¥à', 'ÏÑ±Îèô', 'ÏÑ±Î∂Å', 'ÏÜ°Ìåå', 'ÏàòÏÑú',
       'ÏñëÏ≤ú', 'ÏòÅÎì±Ìè¨', 'Ïö©ÏÇ∞', 'ÏùÄÌèâ', 'Ï¢ÖÎ°ú', 'Ï¢ÖÏïî', 'Ï§ëÎûë', 'Ï§ëÎ∂Ä', 'ÌòúÌôî'],
      dtype='object', name='Íµ¨Î∂Ñ')

- ÌòÑÏû¨ indexÎäî Í≤ΩÏ∞∞ÏÑú Ïù¥Î¶ÑÏúºÎ°ú ÎêòÏñ¥ÏûàÏùå
- Í≤ΩÏ∞∞ÏÑú Ïù¥Î¶ÑÏúºÎ°ú Íµ¨ Ïù¥Î¶ÑÏùÑ ÏïåÏïÑÎÇ¥ÏïºÌï®

---

<a class="anchor" id="python-Î™®Îìà-ÏÑ§Ïπò"></a>
## 4. Python Î™®Îìà ÏÑ§Ïπò

### pip Î™ÖÎ†π
- pythonÏùò Í≥µÏãù Î™®Îìà Í¥ÄÎ¶¨Ïûê
- pip list
- pip install module_name
- pip uninstall module_name

In [42]:
# !pip list
get_ipython().system("pip list")

Package                   Version
------------------------- -----------
anyio                     4.2.0
appnope                   0.1.2
argon2-cffi               21.3.0
argon2-cffi-bindings      21.2.0
asttokens                 2.0.5
async-lru                 2.0.4
attrs                     23.1.0
Babel                     2.11.0
backcall                  0.2.0
beautifulsoup4            4.12.3
bleach                    4.1.0
Bottleneck                1.3.7
Brotli                    1.0.9
certifi                   2024.7.4
cffi                      1.16.0
charset-normalizer        2.0.4
comm                      0.2.1
contourpy                 1.0.5
cycler                    0.11.0
debugpy                   1.6.7
decorator                 5.1.1
defusedxml                0.7.1
et-xmlfile                1.1.0
exceptiongroup            1.2.0
executing                 0.8.3
fastjsonschema            2.16.2
fonttools                 4.51.0
googlemaps                4.10.0
idna                      3.7
importlib-metadata        7.0.1
importlib_resources       6.4.0
ipykernel                 6.28.0
ipython                   8.12.2
ipywidgets                8.1.2
jedi                      0.18.1
Jinja2                    3.1.4
json5                     0.9.6
jsonschema                4.19.2
jsonschema-specifications 2023.7.1
jupyter                   1.0.0
jupyter_client            8.6.0
jupyter-console           6.6.3
jupyter_core              5.7.2
jupyter-events            0.10.0
jupyter-lsp               2.2.0
jupyter_server            2.14.1
jupyter_server_terminals  0.4.4
jupyterlab                4.0.11
jupyterlab-pygments       0.1.2
jupyterlab_server         2.25.1
jupyterlab-widgets        3.0.10
kiwisolver                1.4.4
MarkupSafe                2.1.3
matplotlib                3.7.2
matplotlib-inline         0.1.6
mistune                   2.0.4
mkl-fft                   1.3.1
mkl-random                1.2.2
mkl-service               2.4.0
nbclient                  0.8.0
nbconvert                 7.10.0
nbformat                  5.9.2
nest-asyncio              1.6.0
notebook                  7.0.8
notebook_shim             0.2.3
numexpr                   2.8.4
numpy                     1.24.3
openpyxl                  3.1.2
overrides                 7.4.0
packaging                 24.1
pandas                    2.0.3
pandocfilters             1.5.0
parso                     0.8.3
pexpect                   4.8.0
pickleshare               0.7.5
pillow                    10.3.0
pip                       24.0
pkgutil_resolve_name      1.3.10
platformdirs              3.10.0
ply                       3.11
prometheus-client         0.14.1
prompt-toolkit            3.0.43
psutil                    5.9.0
ptyprocess                0.7.0
pure-eval                 0.2.2
pycparser                 2.21
Pygments                  2.15.1
pyparsing                 3.0.9
PyQt5                     5.15.10
PyQt5-sip                 12.13.0
PySocks                   1.7.1
python-dateutil           2.9.0.post0
python-json-logger        2.0.7
pytz                      2024.1
PyYAML                    6.0.1
pyzmq                     25.1.2
qtconsole                 5.5.1
QtPy                      2.4.1
referencing               0.30.2
requests                  2.32.2
rfc3339-validator         0.1.4
rfc3986-validator         0.1.1
rpds-py                   0.10.6
Send2Trash                1.8.2
setuptools                69.5.1
sip                       6.7.12
six                       1.16.0
sniffio                   1.3.0
soupsieve                 2.5
stack-data                0.2.0
terminado                 0.17.1
tinycss2                  1.2.1
tomli                     2.0.1
tornado                   6.4.1
traitlets                 5.14.3
typing_extensions         4.11.0
tzdata                    2023.3
unicodedata2              15.1.0
urllib3                   2.2.2
wcwidth                   0.2.5
webencodings              0.5.1
websocket-client          1.8.0
wheel                     0.43.0
widgetsnbextension        4.0.10
xlrd                      2.0.1
zipp                      3.17.0

### conda Î™ÖÎ†π
- conda list
- conda install module_name
- conda uninstall module_name
- conda install -c channel_name module_name
    - ÏßÄÏ†ïÎêú Î∞∞Ìè¨ Ï±ÑÎÑêÏóêÏÑú Î™®Îìà ÏÑ§Ïπò

---

## 5. Google Maps API ÏÑ§Ïπò

In [49]:
import googlemaps

In [56]:
from dotenv import load_dotenv
import os

load_dotenv('.env')
gmaps_key = os.environ.get('GCP_API_KEY')
gmaps = googlemaps.Client(key=gmaps_key)

In [57]:
gmaps.geocode("ÏÑúÏö∏ÏòÅÎì±Ìè¨Í≤ΩÏ∞∞ÏÑú", language="ko")

[{'address_components': [{'long_name': '608',
    'short_name': '608',
    'types': ['premise']},
   {'long_name': 'Íµ≠ÌöåÎåÄÎ°ú',
    'short_name': 'Íµ≠ÌöåÎåÄÎ°ú',
    'types': ['political', 'sublocality', 'sublocality_level_4']},
   {'long_name': 'ÏòÅÎì±Ìè¨Íµ¨',
    'short_name': 'ÏòÅÎì±Ìè¨Íµ¨',
    'types': ['political', 'sublocality', 'sublocality_level_1']},
   {'long_name': 'ÏÑúÏö∏ÌäπÎ≥ÑÏãú',
    'short_name': 'ÏÑúÏö∏ÌäπÎ≥ÑÏãú',
    'types': ['administrative_area_level_1', 'political']},
   {'long_name': 'ÎåÄÌïúÎØºÍµ≠',
    'short_name': 'KR',
    'types': ['country', 'political']},
   {'long_name': '150-043',
    'short_name': '150-043',
    'types': ['postal_code']}],
  'formatted_address': 'ÎåÄÌïúÎØºÍµ≠ ÏÑúÏö∏ÌäπÎ≥ÑÏãú ÏòÅÎì±Ìè¨Íµ¨ Íµ≠ÌöåÎåÄÎ°ú 608',
  'geometry': {'location': {'lat': 37.5260441, 'lng': 126.9008091},
   'location_type': 'ROOFTOP',
   'viewport': {'northeast': {'lat': 37.5273930802915,
     'lng': 126.9021580802915},
    'southwest': {'lat': 37.5246951197085, 'lng': 126.8994601197085}}},
  'partial_match': True,
  'place_id': 'ChIJ1TimJLaffDURptXOs0Tj6sY',
  'plus_code': {'compound_code': 'GWG2+C8 ÎåÄÌïúÎØºÍµ≠ ÏÑúÏö∏ÌäπÎ≥ÑÏãú',
   'global_code': '8Q98GWG2+C8'},
  'types': ['establishment', 'point_of_interest', 'police']}]