# 07. Population

[1. λ°°κ²½](#λ°°κ²½) <br>
[2. λ°μ΄ν„° μ½κ³  μΈκµ¬ μ†λ©Έ μ§€μ—­ κ³„μ‚°](#λ°μ΄ν„°-μ½κΈ°) <br>
&emsp;    - [μ»¬λΌ μ΄λ¦„ λ³€κ²½ λ° λ¶ν•„μ”ν• ν–‰ μ κ±°](#μ»¬λΌ-μ΄λ¦„-λ³€κ²½)<br>
&emsp;    - [μ†λ©Έ μ§€μ—­μ„ μ΅°μ‚¬ν•κΈ° μ„ν• λ°μ΄ν„° - 20-39μ„Έ, 65μ„Έμ΄μƒ μ»¬λΌ μƒμ„±](#μ»¬λΌ-μƒμ„±)<br>
&emsp;    - [pivot_table](#pivot-table)<br>
&emsp;    - [μ†λ©Έ λΉ„μ¨ κ³„μ‚°](#μ†λ©Έ-λΉ„μ¨-κ³„μ‚°)<br>
&emsp;    - [μ†λ©Έ μ„κΈ° μ§€μ—­ μ—¬λ¶€ μ»¬λΌ μƒμ„±](#μ†λ©Έ-μ„κΈ°-μ§€μ—­-μ—¬λ¶€)<br>
&emsp;    - [μ„μΈμ‹ λ¨λ“  κµ¬μ μ κ°€ μ •λ³΄ μ—‘μ…€ μ €μ¥](#μ—‘μ…€-μ €μ¥2)<br>
[3. μ…€ν”„ μ£Όμ μ†κ°€ μ •λ§ μ €λ ΄ν•λ‚μ”? - λ°μ΄ν„° μ •λ¦¬](#λ°μ΄ν„°-μ •λ¦¬) <br>
&emsp;    - [μμ§‘ν• μ„μΈμ‹ λ¨λ“  κµ¬μ μ κ°€ μ •λ³΄ μ—‘μ…€μ„ ν• λ²μ— κ°€μ Έμ¤κΈ°](#μ—‘μ…€-λ¶λ¬μ¤κΈ°)<br>
&emsp;    - [λ°μ΄ν„°ν”„λ μ„μ— μ €μ¥ λ° μ •λ¦¬](#λ°μ΄ν„°ν”„λ μ„-μ €μ¥)<br>
[μ‚¬μ© ν•¨μ μμ ](#μ‚¬μ©-ν•¨μ-μμ ) <br>
&emsp;    - [fillna()](#fill-na)<br>

[Githubμ—μ„λ” tocκ°€ μ‘λ™μ•ν•¨. nbviewerλ΅ λ³΄κΈ°π‘€](https://nbviewer.org/github/solpinetree/ds_study/blob/main/source_code/04.%20Self%20Oil%20Station%20Price%20Analysis.ipynb)

<a id="λ°°κ²½"></a>
## 1. λ°°κ²½
λ©ν‘ 
- 1. μΈκµ¬ μ†λ©Έ μ„κΈ° μ§€μ—­ νμ•…
- 2. μΈκµ¬ μ†λ©Έ μ„κΈ° μ§€μ—­μ μ„λ„ ν‘ν„
- 3. μ§€λ„ ν‘ν„μ— λ€ν• μΉ΄λ¥΄ν† κ·Έλ¨ ν‘ν„

---

<a id="λ°μ΄ν„°-μ½κΈ°"></a>
## 2. λ°μ΄ν„° μ½κ³  μΈκµ¬ μ†λ©Έ μ§€μ—­ κ³„μ‚°

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import set_matplotlib_hangul
import warnings

warnings.filterwarnings(action="ignore") # κ²½κ³  λ¬Έκµ¬ λ¬΄μ‹
%matplotlib inline

In [66]:
population = pd.read_csv(
    "../data/07. population_raw_data.csv", 
    encoding="utf-8",
    header=1
)
population.fillna(method="pad", inplace=True)
population.head()

,ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„,μ‹λ„,ν•­λ©,κ³„,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,45 - 49μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
0,μ „κµ­,μ†κ³„,μ΄μΈκµ¬μ (λ…),51265238,2711038,3343400,3454825,3144285,3968671,3829092,...,4260354,4216718,3526690,2332941,1751817,1340443,746668,259885,57336,8688
1,μ „κµ­,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),25528507,1408133,1748364,1817952,1622003,2021792,1942815,...,2138774,2096981,1716169,1096071,783469,526625,242361,62946,10567,1568
2,μ „κµ­,μ†κ³„,μ—¬μμΈκµ¬μ (λ…),25736731,1302905,1595036,1636873,1522282,1946879,1886277,...,2121580,2119737,1810521,1236870,968348,813818,504307,196939,46769,7120
3,μ„μΈνΉλ³„μ‹,μ†κ³„,μ΄μΈκµ¬μ (λ…),9360400,543819,788133,790442,644805,722803,674392,...,709798,700953,622332,427050,330610,233241,116634,38549,9209,1505
4,μ„μΈνΉλ³„μ‹,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),4521316,253919,374777,396396,321523,358815,331957,...,347271,336023,290356,195609,146867,99161,42729,10796,2072,351

In [67]:
population.columns

Index(['ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„', 'μ‹λ„', 'ν•­λ©', 'κ³„', '20 - 24μ„Έ', '25 - 29μ„Έ', '30 - 34μ„Έ',
       '35 - 39μ„Έ', '40 - 44μ„Έ', '45 - 49μ„Έ', '50 - 54μ„Έ', '55 - 59μ„Έ', '60 - 64μ„Έ',
       '65 - 69μ„Έ', '70 - 74μ„Έ', '75 - 79μ„Έ', '80 - 84μ„Έ', '85 - 89μ„Έ', '90 - 94μ„Έ',
       '95 - 99μ„Έ', '100+'],
      dtype='object')

<a id="μ»¬λΌ-μ΄λ¦„-λ³€κ²½"></a>
### μ»¬λΌ μ΄λ¦„ λ³€κ²½ λ° λ¶ν•„μ”ν• ν–‰ μ κ±°

In [68]:
population.rename(
    columns={"ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„": "κ΄‘μ—­μ‹λ„", "κ³„" : "μΈκµ¬μ"},
    inplace=True
)
population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν•­λ©,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,45 - 49μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
0,μ „κµ­,μ†κ³„,μ΄μΈκµ¬μ (λ…),51265238,2711038,3343400,3454825,3144285,3968671,3829092,...,4260354,4216718,3526690,2332941,1751817,1340443,746668,259885,57336,8688
1,μ „κµ­,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),25528507,1408133,1748364,1817952,1622003,2021792,1942815,...,2138774,2096981,1716169,1096071,783469,526625,242361,62946,10567,1568
2,μ „κµ­,μ†κ³„,μ—¬μμΈκµ¬μ (λ…),25736731,1302905,1595036,1636873,1522282,1946879,1886277,...,2121580,2119737,1810521,1236870,968348,813818,504307,196939,46769,7120
3,μ„μΈνΉλ³„μ‹,μ†κ³„,μ΄μΈκµ¬μ (λ…),9360400,543819,788133,790442,644805,722803,674392,...,709798,700953,622332,427050,330610,233241,116634,38549,9209,1505
4,μ„μΈνΉλ³„μ‹,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),4521316,253919,374777,396396,321523,358815,331957,...,347271,336023,290356,195609,146867,99161,42729,10796,2072,351

In [69]:
population = population[(population["μ‹λ„"] != "μ†κ³„")]
population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν•­λ©,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,45 - 49μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
6,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ΄μΈκµ¬μ (λ…),139093,8985,12386,11225,8374,9635,9136,...,11482,11361,9599,6329,5380,4346,2408,825,220,44
7,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,λ‚¨μμΈκµ¬μ (λ…),66956,4056,5979,5656,4073,4721,4391,...,5628,5738,4759,3005,2348,1788,913,279,57,14
8,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ—¬μμΈκµ¬μ (λ…),72137,4929,6407,5569,4301,4914,4745,...,5854,5623,4840,3324,3032,2558,1495,546,163,30
9,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ΄μΈκµ¬μ (λ…),121407,6534,10613,11921,9464,9071,7585,...,9458,9641,8793,5888,4790,3765,1950,724,188,24
10,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,λ‚¨μμΈκµ¬μ (λ…),58546,2930,4797,5886,4749,4579,3895,...,4800,4858,4300,2793,2060,1524,644,185,46,8

In [70]:
population.rename(columns={"ν•­λ©":"κµ¬λ¶„"}, inplace=True)

population.loc[population["κµ¬λ¶„"] == "μ΄μΈκµ¬μ (λ…)", "κµ¬λ¶„"] = "ν•©κ³„"
population.loc[population["κµ¬λ¶„"] == "λ‚¨μμΈκµ¬μ (λ…)", "κµ¬λ¶„"] = "λ‚¨μ"
population.loc[population["κµ¬λ¶„"] == "μ—¬μμΈκµ¬μ (λ…)", "κµ¬λ¶„"] = "μ—¬μ"

population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,κµ¬λ¶„,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,45 - 49μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
6,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,ν•©κ³„,139093,8985,12386,11225,8374,9635,9136,...,11482,11361,9599,6329,5380,4346,2408,825,220,44
7,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,λ‚¨μ,66956,4056,5979,5656,4073,4721,4391,...,5628,5738,4759,3005,2348,1788,913,279,57,14
8,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ—¬μ,72137,4929,6407,5569,4301,4914,4745,...,5854,5623,4840,3324,3032,2558,1495,546,163,30
9,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,ν•©κ³„,121407,6534,10613,11921,9464,9071,7585,...,9458,9641,8793,5888,4790,3765,1950,724,188,24
10,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,λ‚¨μ,58546,2930,4797,5886,4749,4579,3895,...,4800,4858,4300,2793,2060,1524,644,185,46,8

<a id="μ»¬λΌ-μƒμ„±"></a>
### μ†λ©Έ μ§€μ—­μ„ μ΅°μ‚¬ν•κΈ° μ„ν• λ°μ΄ν„° - 20-39μ„Έ, 65μ„Έμ΄μƒ μ»¬λΌ μƒμ„±

In [71]:
population["20-39μ„Έ"] = (
    population["20 - 24μ„Έ"] 
    + population["25 - 29μ„Έ"]
    + population["30 - 34μ„Έ"]
    + population["35 - 39μ„Έ"]
)

population["65μ„Έμ΄μƒ"] = (
    population["65 - 69μ„Έ"]
    + population["70 - 74μ„Έ"]
    + population["75 - 79μ„Έ"]
    + population["80 - 84μ„Έ"]
    + population["85 - 89μ„Έ"]
    + population["90 - 94μ„Έ"]
    + population["95 - 99μ„Έ"]
    + population["100+"]
)

population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,κµ¬λ¶„,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,45 - 49μ„Έ,...,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+,20-39μ„Έ,65μ„Έμ΄μƒ
6,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,ν•©κ³„,139093,8985,12386,11225,8374,9635,9136,...,9599,6329,5380,4346,2408,825,220,44,40970,29151
7,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,λ‚¨μ,66956,4056,5979,5656,4073,4721,4391,...,4759,3005,2348,1788,913,279,57,14,19764,13163
8,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ—¬μ,72137,4929,6407,5569,4301,4914,4745,...,4840,3324,3032,2558,1495,546,163,30,21206,15988
9,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,ν•©κ³„,121407,6534,10613,11921,9464,9071,7585,...,8793,5888,4790,3765,1950,724,188,24,38532,26122
10,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,λ‚¨μ,58546,2930,4797,5886,4749,4579,3895,...,4300,2793,2060,1524,644,185,46,8,18362,11560

<a id="pivot-table"></a>
### pivot_table

In [72]:
pop = pd.pivot_table(
    population,
    index=["κ΄‘μ—­μ‹λ„", "μ‹λ„"], 
    columns=["κµ¬λ¶„"],
    values=["μΈκµ¬μ", "20-39μ„Έ", "65μ„Έμ΄μƒ"]
)

pop

               20-39μ„Έ                  65μ„Έμ΄μƒ                    μΈκµ¬μ          \
κµ¬λ¶„                 λ‚¨μ      μ—¬μ      ν•©κ³„     λ‚¨μ     μ—¬μ      ν•©κ³„      λ‚¨μ      μ—¬μ
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹     22901   19250   42151  23028  30168   53196  103188  105063
        κ³ μ„±κµ°      2823    1956    4779   3934   5028    8962   13909   13234
        λ™ν•΄μ‹      9335    7056   16391   9407  12016   21423   44555   43297
        λ™ν•΄μ¶μ¥μ†       0       0       0      0      0       0       0       0
        μ‚Όμ²™μ‹      6352    4991   11343   8041  10378   18419   31726   30604
...               ...     ...     ...    ...    ...     ...     ...     ...
μ¶©μ²­λ¶λ„    μ μ²μ‹     13861   11241   25102  15614  18977   34591   65156   64229
        μ¦ν‰κµ°      4866    3686    8552   3521   4394    7915   19395   17840
        μ§„μ²κµ°     11074    8290   19364   7397   9008   16405   45907   40862
        μ²­μ£Όμ‹    123802  104519  228321  61307  77676  138983  431274  422289
        μ¶©μ£Όμ‹     24764   18931   43695  21946  27471   49417  105235  102111


κµ¬λ¶„                 ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹    208251
        κ³ μ„±κµ°     27143
        λ™ν•΄μ‹     87852
        λ™ν•΄μ¶μ¥μ†       0
        μ‚Όμ²™μ‹     62330
...               ...
μ¶©μ²­λ¶λ„    μ μ²μ‹    129385
        μ¦ν‰κµ°     37235
        μ§„μ²κµ°     86769
        μ²­μ£Όμ‹    853563
        μ¶©μ£Όμ‹    207346

[230 rows x 9 columns]

<a id="μ†λ©Έ-λΉ„μ¨-κ³„μ‚°"></a>
### μ†λ©Έ λΉ„μ¨ κ³„μ‚°
- μ μ€ μ—¬μ„± μΈκµ¬κ°€ λ…ΈμΈ μΈκµ¬μ μ λ°μ— λ―Έλ‹¬ν•  κ²½μ° 'μ†λ©Έ μ„ν— μ§€μ—­'μΌλ΅ λ¶„λ¥ν•λ” λ°©μ‹ μ—μ„ μ°©μ•ν• κ³„μ‚°λ²•

In [73]:
pop["μ†λ©ΈλΉ„μ¨"] = pop["20-39μ„Έ", "μ—¬μ"] / (pop["65μ„Έμ΄μƒ", "ν•©κ³„"] / 2)
pop.head()

              20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ          \
κµ¬λ¶„                λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ      μ—¬μ
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹    22901  19250  42151  23028  30168  53196  103188  105063
        κ³ μ„±κµ°     2823   1956   4779   3934   5028   8962   13909   13234
        λ™ν•΄μ‹     9335   7056  16391   9407  12016  21423   44555   43297
        λ™ν•΄μ¶μ¥μ†      0      0      0      0      0      0       0       0
        μ‚Όμ²™μ‹     6352   4991  11343   8041  10378  18419   31726   30604

                           μ†λ©ΈλΉ„μ¨
κµ¬λ¶„                 ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹    208251  0.723739
        κ³ μ„±κµ°     27143  0.436510
        λ™ν•΄μ‹     87852  0.658731
        λ™ν•΄μ¶μ¥μ†       0       NaN
        μ‚Όμ²™μ‹     62330  0.541940

In [74]:
# λ™ν•΄μ¶μ¥μ† λ°μ΄ν„° μ‚­μ 
pop.drop([('κ°•μ›νΉλ³„μμΉλ„', 'λ™ν•΄μ¶μ¥μ†')], axis=0, inplace=True)
pop.head()

            20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ                  \
κµ¬λ¶„              λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ      μ—¬μ      ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹  22901  19250  42151  23028  30168  53196  103188  105063  208251
        κ³ μ„±κµ°   2823   1956   4779   3934   5028   8962   13909   13234   27143
        λ™ν•΄μ‹   9335   7056  16391   9407  12016  21423   44555   43297   87852
        μ‚Όμ²™μ‹   6352   4991  11343   8041  10378  18419   31726   30604   62330
        μ†μ΄μ‹   9224   7344  16568   8294  10757  19051   40216   41208   81424

                 μ†λ©ΈλΉ„μ¨
κµ¬λ¶„
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹  0.723739
        κ³ μ„±κµ°  0.436510
        λ™ν•΄μ‹  0.658731
        μ‚Όμ²™μ‹  0.541940
        μ†μ΄μ‹  0.770983

<a id="μ†λ©Έ-μ„κΈ°-μ§€μ—­-μ—¬λ¶€"></a>
### μ†λ©Έ μ„κΈ° μ§€μ—­ μ—¬λ¶€ μ»¬λΌ μƒμ„±

In [75]:
pop["μ†λ©Έμ„κΈ°μ§€μ—­"] = pop["μ†λ©ΈλΉ„μ¨"] < 1.0
pop.head()

            20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ                  \
κµ¬λ¶„              λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ      μ—¬μ      ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹  22901  19250  42151  23028  30168  53196  103188  105063  208251
        κ³ μ„±κµ°   2823   1956   4779   3934   5028   8962   13909   13234   27143
        λ™ν•΄μ‹   9335   7056  16391   9407  12016  21423   44555   43297   87852
        μ‚Όμ²™μ‹   6352   4991  11343   8041  10378  18419   31726   30604   62330
        μ†μ΄μ‹   9224   7344  16568   8294  10757  19051   40216   41208   81424

                 μ†λ©ΈλΉ„μ¨ μ†λ©Έμ„κΈ°μ§€μ—­
κµ¬λ¶„
κ΄‘μ—­μ‹λ„    μ‹λ„
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹  0.723739   True
        κ³ μ„±κµ°  0.436510   True
        λ™ν•΄μ‹  0.658731   True
        μ‚Όμ²™μ‹  0.541940   True
        μ†μ΄μ‹  0.770983   True

In [76]:
len(pop)

229

In [77]:
# μ†λ©Έμ„κΈ°μ§€μ—­ μ΅°ν

pop[pop["μ†λ©Έμ„κΈ°μ§€μ—­"]==True].index.get_level_values(1)

Index(['κ°•λ¦‰μ‹', 'κ³ μ„±κµ°', 'λ™ν•΄μ‹', 'μ‚Όμ²™μ‹', 'μ†μ΄μ‹', 'μ–‘κµ¬κµ°', 'μ–‘μ–‘κµ°', 'μμ›”κµ°', 'μΈμ κµ°', 'μ •μ„ κµ°',
       ...
       'ν™μ„±κµ°', 'κ΄΄μ‚°κµ°', 'λ‹¨μ–‘κµ°', 'λ³΄μ€κµ°', 'μλ™κµ°', 'μ¥μ²κµ°', 'μμ„±κµ°', 'μ μ²μ‹', 'μ¦ν‰κµ°', 'μ¶©μ£Όμ‹'],
      dtype='object', name='μ‹λ„', length=132)

In [78]:
pop.reset_index(inplace=True)
pop.head()

       κ΄‘μ—­μ‹λ„   μ‹λ„ 20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ          \
κµ¬λ¶„                   λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ      μ—¬μ
0   κ°•μ›νΉλ³„μμΉλ„  κ°•λ¦‰μ‹  22901  19250  42151  23028  30168  53196  103188  105063
1   κ°•μ›νΉλ³„μμΉλ„  κ³ μ„±κµ°   2823   1956   4779   3934   5028   8962   13909   13234
2   κ°•μ›νΉλ³„μμΉλ„  λ™ν•΄μ‹   9335   7056  16391   9407  12016  21423   44555   43297
3   κ°•μ›νΉλ³„μμΉλ„  μ‚Όμ²™μ‹   6352   4991  11343   8041  10378  18419   31726   30604
4   κ°•μ›νΉλ³„μμΉλ„  μ†μ΄μ‹   9224   7344  16568   8294  10757  19051   40216   41208

                μ†λ©ΈλΉ„μ¨ μ†λ©Έμ„κΈ°μ§€μ—­
κµ¬λ¶„      ν•©κ³„
0   208251  0.723739   True
1    27143  0.436510   True
2    87852  0.658731   True
3    62330  0.541940   True
4    81424  0.770983   True

In [79]:
pop.columns.get_level_values(0)

Index(['κ΄‘μ—­μ‹λ„', 'μ‹λ„', '20-39μ„Έ', '20-39μ„Έ', '20-39μ„Έ', '65μ„Έμ΄μƒ', '65μ„Έμ΄μƒ', '65μ„Έμ΄μƒ',
       'μΈκµ¬μ', 'μΈκµ¬μ', 'μΈκµ¬μ', 'μ†λ©ΈλΉ„μ¨', 'μ†λ©Έμ„κΈ°μ§€μ—­'],
      dtype='object')

In [80]:
tmp_columns=[
    pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n]
    for n in range(0, len(pop.columns.get_level_values(0)))
]
pop.columns = tmp_columns
pop.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­
0,κ°•μ›νΉλ³„μμΉλ„,κ°•λ¦‰μ‹,22901,19250,42151,23028,30168,53196,103188,105063,208251,0.723739,True
1,κ°•μ›νΉλ³„μμΉλ„,κ³ μ„±κµ°,2823,1956,4779,3934,5028,8962,13909,13234,27143,0.436510,True
2,κ°•μ›νΉλ³„μμΉλ„,λ™ν•΄μ‹,9335,7056,16391,9407,12016,21423,44555,43297,87852,0.658731,True
3,κ°•μ›νΉλ³„μμΉλ„,μ‚Όμ²™μ‹,6352,4991,11343,8041,10378,18419,31726,30604,62330,0.541940,True
4,κ°•μ›νΉλ³„μμΉλ„,μ†μ΄μ‹,9224,7344,16568,8294,10757,19051,40216,41208,81424,0.770983,True

---

<a id="μ‚¬μ©-ν•¨μ-μμ "></a>
## μ‚¬μ© ν•¨μ μμ

<a id="fill-na"></a>
### fillna()

In [3]:
datas = {
    "A": np.random.randint(1, 45, 8),
    "B": np.random.randint(1, 45, 8),
    "C": np.random.randint(1, 45, 8),
}

datas

{'A': array([34, 32,  2, 32, 32,  2, 42, 34]),
 'B': array([20, 29, 24,  2,  5, 23, 30, 44]),
 'C': array([43, 13, 10, 29, 10, 33,  2, 11])}

In [4]:
fillna_df = pd.DataFrame(datas)
fillna_df

    A   B   C
0  34  20  43
1  32  29  13
2   2  24  10
3  32   2  29
4  32   5  10
5   2  23  33
6  42  30   2
7  34  44  11

In [6]:
fillna_df.loc[2:4, ["A"]] = np.nan
fillna_df.loc[3:5, ["B"]] = np.nan
fillna_df.loc[4:7, ["C"]] = np.nan
fillna_df

      A     B     C
0  34.0  20.0  43.0
1  32.0  29.0  13.0
2   NaN  24.0  10.0
3   NaN   NaN  29.0
4   NaN   NaN   NaN
5   2.0   NaN   NaN
6  42.0  30.0   NaN
7  34.0  44.0   NaN

####  method
```
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use next valid observation to fill gap.
```

In [7]:
fillna_df.fillna(method="pad")

      A     B     C
0  34.0  20.0  43.0
1  32.0  29.0  13.0
2  32.0  24.0  10.0
3  32.0  24.0  29.0
4  32.0  24.0  29.0
5   2.0  24.0  29.0
6  42.0  30.0  29.0
7  34.0  44.0  29.0

In [8]:
fillna_df.fillna(method="backfill")

      A     B     C
0  34.0  20.0  43.0
1  32.0  29.0  13.0
2   2.0  24.0  10.0
3   2.0  30.0  29.0
4   2.0  30.0   NaN
5   2.0  30.0   NaN
6  42.0  30.0   NaN
7  34.0  44.0   NaN

In [9]:
fillna_df.fillna(method="backfill", axis=1)

      A     B     C
0  34.0  20.0  43.0
1  32.0  29.0  13.0
2  24.0  24.0  10.0
3  29.0  29.0  29.0
4   NaN   NaN   NaN
5   2.0   NaN   NaN
6  42.0  30.0   NaN
7  34.0  44.0   NaN