# 07. Population

[1. λ°°κ²½](#λ°°κ²½) <br>
[2. λ°μ΄ν„° μ½κ³  μΈκµ¬ μ†λ©Έ μ§€μ—­ κ³„μ‚°](#λ°μ΄ν„°-μ½κΈ°) <br>
&emsp;    - [μ»¬λΌ μ΄λ¦„ λ³€κ²½ λ° λ¶ν•„μ”ν• ν–‰ μ κ±°](#μ»¬λΌ-μ΄λ¦„-λ³€κ²½)<br>
&emsp;    - [μ†λ©Έ μ§€μ—­μ„ μ΅°μ‚¬ν•κΈ° μ„ν• λ°μ΄ν„° - 20-39μ„Έ, 65μ„Έμ΄μƒ μ»¬λΌ μƒμ„±](#μ»¬λΌ-μƒμ„±)<br>
&emsp;    - [pivot_table](#pivot-table)<br>
&emsp;    - [μ†λ©Έ λΉ„μ¨ κ³„μ‚°](#μ†λ©Έ-λΉ„μ¨-κ³„μ‚°)<br>
&emsp;    - [μ†λ©Έ μ„κΈ° μ§€μ—­ μ—¬λ¶€ μ»¬λΌ μƒμ„±](#μ†λ©Έ-μ„κΈ°-μ§€μ—­-μ—¬λ¶€)<br>
[3. μ§€λ„ μ‹κ°ν™”λ¥Ό μ„ν• μ§€μ—­λ³„ ID λ§λ“¤κΈ°](#μ§€λ„-id-μƒμ„±) <br>
&emsp;    - [μμ§‘ν• μ„μΈμ‹ λ¨λ“  κµ¬μ μ κ°€ μ •λ³΄ μ—‘μ…€μ„ ν• λ²μ— κ°€μ Έμ¤κΈ°](#μ—‘μ…€-λ¶λ¬μ¤κΈ°)<br>
&emsp;    - [λ°μ΄ν„°ν”„λ μ„μ— μ €μ¥ λ° μ •λ¦¬](#λ°μ΄ν„°ν”„λ μ„-μ €μ¥)<br>
[μ‚¬μ© ν•¨μ μμ ](#μ‚¬μ©-ν•¨μ-μμ ) <br>
&emsp;    - [fillna()](#fill-na)<br>

[Githubμ—μ„λ” tocκ°€ μ‘λ™μ•ν•¨. nbviewerλ΅ λ³΄κΈ°π‘€](https://nbviewer.org/github/solpinetree/ds_study/blob/main/source_code/04.%20Self%20Oil%20Station%20Price%20Analysis.ipynb)

<a id="λ°°κ²½"></a>
## 1. λ°°κ²½
λ©ν‘ 
- 1. μΈκµ¬ μ†λ©Έ μ„κΈ° μ§€μ—­ νμ•…
- 2. μΈκµ¬ μ†λ©Έ μ„κΈ° μ§€μ—­μ μ„λ„ ν‘ν„
- 3. μ§€λ„ ν‘ν„μ— λ€ν• μΉ΄λ¥΄ν† κ·Έλ¨ ν‘ν„

---

<a id="λ°μ΄ν„°-μ½κΈ°"></a>
## 2. λ°μ΄ν„° μ½κ³  μΈκµ¬ μ†λ©Έ μ§€μ—­ κ³„μ‚°

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import set_matplotlib_hangul
import warnings

warnings.filterwarnings(action="ignore") # κ²½κ³  λ¬Έκµ¬ λ¬΄μ‹
%matplotlib inline

matplotlib hangul settings done in Mac

In [21]:
population = pd.read_csv(
    "../data/07. population_raw_data.csv", 
    encoding="utf-8",
    header=1
)
population.fillna(method="pad", inplace=True)
population.head()

,ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(1),ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(2),ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(3),ν•­λ©,κ³„,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
0,μ „κµ­,μ†κ³„,μ†κ³„,μ΄μΈκµ¬μ (λ…),51265238,2711038,3343400,3454825,3144285,3968671,...,4260354,4216718,3526690,2332941,1751817,1340443,746668,259885,57336,8688
1,μ „κµ­,μ†κ³„,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),25528507,1408133,1748364,1817952,1622003,2021792,...,2138774,2096981,1716169,1096071,783469,526625,242361,62946,10567,1568
2,μ „κµ­,μ†κ³„,μ†κ³„,μ—¬μμΈκµ¬μ (λ…),25736731,1302905,1595036,1636873,1522282,1946879,...,2121580,2119737,1810521,1236870,968348,813818,504307,196939,46769,7120
3,μ„μΈνΉλ³„μ‹,μ†κ³„,μ†κ³„,μ΄μΈκµ¬μ (λ…),9360400,543819,788133,790442,644805,722803,...,709798,700953,622332,427050,330610,233241,116634,38549,9209,1505
4,μ„μΈνΉλ³„μ‹,μ†κ³„,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),4521316,253919,374777,396396,321523,358815,...,347271,336023,290356,195609,146867,99161,42729,10796,2072,351

In [22]:
population.columns

Index(['ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(1)', 'ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(2)', 'ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(3)', 'ν•­λ©', 'κ³„',
       '20 - 24μ„Έ', '25 - 29μ„Έ', '30 - 34μ„Έ', '35 - 39μ„Έ', '40 - 44μ„Έ', '45 - 49μ„Έ',
       '50 - 54μ„Έ', '55 - 59μ„Έ', '60 - 64μ„Έ', '65 - 69μ„Έ', '70 - 74μ„Έ', '75 - 79μ„Έ',
       '80 - 84μ„Έ', '85 - 89μ„Έ', '90 - 94μ„Έ', '95 - 99μ„Έ', '100+'],
      dtype='object')

<a id="μ»¬λΌ-μ΄λ¦„-λ³€κ²½"></a>
### μ»¬λΌ μ΄λ¦„ λ³€κ²½ λ° λ¶ν•„μ”ν• ν–‰ μ κ±°

In [23]:
population.rename(
    columns={"ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(1)": "κ΄‘μ—­μ‹λ„", "κ³„" : "μΈκµ¬μ", "ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(2)": "μ‹λ„", "ν–‰μ •κµ¬μ—­(λ™μλ©΄)λ³„(3)": "ν–‰μ •κµ¬"},
    inplace=True
)
population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,ν•­λ©,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
0,μ „κµ­,μ†κ³„,μ†κ³„,μ΄μΈκµ¬μ (λ…),51265238,2711038,3343400,3454825,3144285,3968671,...,4260354,4216718,3526690,2332941,1751817,1340443,746668,259885,57336,8688
1,μ „κµ­,μ†κ³„,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),25528507,1408133,1748364,1817952,1622003,2021792,...,2138774,2096981,1716169,1096071,783469,526625,242361,62946,10567,1568
2,μ „κµ­,μ†κ³„,μ†κ³„,μ—¬μμΈκµ¬μ (λ…),25736731,1302905,1595036,1636873,1522282,1946879,...,2121580,2119737,1810521,1236870,968348,813818,504307,196939,46769,7120
3,μ„μΈνΉλ³„μ‹,μ†κ³„,μ†κ³„,μ΄μΈκµ¬μ (λ…),9360400,543819,788133,790442,644805,722803,...,709798,700953,622332,427050,330610,233241,116634,38549,9209,1505
4,μ„μΈνΉλ³„μ‹,μ†κ³„,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),4521316,253919,374777,396396,321523,358815,...,347271,336023,290356,195609,146867,99161,42729,10796,2072,351

In [24]:
population = population[(population["μ‹λ„"] != "μ†κ³„")]
population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,ν•­λ©,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
6,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,μ΄μΈκµ¬μ (λ…),139093,8985,12386,11225,8374,9635,...,11482,11361,9599,6329,5380,4346,2408,825,220,44
7,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),66956,4056,5979,5656,4073,4721,...,5628,5738,4759,3005,2348,1788,913,279,57,14
8,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,μ—¬μμΈκµ¬μ (λ…),72137,4929,6407,5569,4301,4914,...,5854,5623,4840,3324,3032,2558,1495,546,163,30
9,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ†κ³„,μ΄μΈκµ¬μ (λ…),121407,6534,10613,11921,9464,9071,...,9458,9641,8793,5888,4790,3765,1950,724,188,24
10,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ†κ³„,λ‚¨μμΈκµ¬μ (λ…),58546,2930,4797,5886,4749,4579,...,4800,4858,4300,2793,2060,1524,644,185,46,8

In [25]:
population.rename(columns={"ν•­λ©":"κµ¬λ¶„"}, inplace=True)

population.loc[population["κµ¬λ¶„"] == "μ΄μΈκµ¬μ (λ…)", "κµ¬λ¶„"] = "ν•©κ³„"
population.loc[population["κµ¬λ¶„"] == "λ‚¨μμΈκµ¬μ (λ…)", "κµ¬λ¶„"] = "λ‚¨μ"
population.loc[population["κµ¬λ¶„"] == "μ—¬μμΈκµ¬μ (λ…)", "κµ¬λ¶„"] = "μ—¬μ"

population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,κµ¬λ¶„,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,...,55 - 59μ„Έ,60 - 64μ„Έ,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+
6,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,ν•©κ³„,139093,8985,12386,11225,8374,9635,...,11482,11361,9599,6329,5380,4346,2408,825,220,44
7,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,λ‚¨μ,66956,4056,5979,5656,4073,4721,...,5628,5738,4759,3005,2348,1788,913,279,57,14
8,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,μ—¬μ,72137,4929,6407,5569,4301,4914,...,5854,5623,4840,3324,3032,2558,1495,546,163,30
9,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ†κ³„,ν•©κ³„,121407,6534,10613,11921,9464,9071,...,9458,9641,8793,5888,4790,3765,1950,724,188,24
10,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ†κ³„,λ‚¨μ,58546,2930,4797,5886,4749,4579,...,4800,4858,4300,2793,2060,1524,644,185,46,8

<a id="μ»¬λΌ-μƒμ„±"></a>
### μ†λ©Έ μ§€μ—­μ„ μ΅°μ‚¬ν•κΈ° μ„ν• λ°μ΄ν„° - 20-39μ„Έ, 65μ„Έμ΄μƒ μ»¬λΌ μƒμ„±

In [26]:
population["20-39μ„Έ"] = (
    population["20 - 24μ„Έ"] 
    + population["25 - 29μ„Έ"]
    + population["30 - 34μ„Έ"]
    + population["35 - 39μ„Έ"]
)

population["65μ„Έμ΄μƒ"] = (
    population["65 - 69μ„Έ"]
    + population["70 - 74μ„Έ"]
    + population["75 - 79μ„Έ"]
    + population["80 - 84μ„Έ"]
    + population["85 - 89μ„Έ"]
    + population["90 - 94μ„Έ"]
    + population["95 - 99μ„Έ"]
    + population["100+"]
)

population.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,κµ¬λ¶„,μΈκµ¬μ,20 - 24μ„Έ,25 - 29μ„Έ,30 - 34μ„Έ,35 - 39μ„Έ,40 - 44μ„Έ,...,65 - 69μ„Έ,70 - 74μ„Έ,75 - 79μ„Έ,80 - 84μ„Έ,85 - 89μ„Έ,90 - 94μ„Έ,95 - 99μ„Έ,100+,20-39μ„Έ,65μ„Έμ΄μƒ
6,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,ν•©κ³„,139093,8985,12386,11225,8374,9635,...,9599,6329,5380,4346,2408,825,220,44,40970,29151
7,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,λ‚¨μ,66956,4056,5979,5656,4073,4721,...,4759,3005,2348,1788,913,279,57,14,19764,13163
8,μ„μΈνΉλ³„μ‹,μΆ…λ΅κµ¬,μ†κ³„,μ—¬μ,72137,4929,6407,5569,4301,4914,...,4840,3324,3032,2558,1495,546,163,30,21206,15988
9,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ†κ³„,ν•©κ³„,121407,6534,10613,11921,9464,9071,...,8793,5888,4790,3765,1950,724,188,24,38532,26122
10,μ„μΈνΉλ³„μ‹,μ¤‘κµ¬,μ†κ³„,λ‚¨μ,58546,2930,4797,5886,4749,4579,...,4300,2793,2060,1524,644,185,46,8,18362,11560

<a id="pivot-table"></a>
### pivot_table

In [27]:
pop = pd.pivot_table(
    population,
    index=["κ΄‘μ—­μ‹λ„", "μ‹λ„", "ν–‰μ •κµ¬"], 
    columns=["κµ¬λ¶„"],
    values=["μΈκµ¬μ", "20-39μ„Έ", "65μ„Έμ΄μƒ"]
)

pop

                 20-39μ„Έ                  65μ„Έμ΄μƒ                    μΈκµ¬μ          \
κµ¬λ¶„                   λ‚¨μ      μ—¬μ      ν•©κ³„     λ‚¨μ     μ—¬μ      ν•©κ³„      λ‚¨μ      μ—¬μ
κ΄‘μ—­μ‹λ„    μ‹λ„  ν–‰μ •κµ¬
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹ μ†κ³„    22901   19250   42151  23028  30168   53196  103188  105063
        κ³ μ„±κµ° μ†κ³„     2823    1956    4779   3934   5028    8962   13909   13234
        λ™ν•΄μ‹ μ†κ³„     9335    7056   16391   9407  12016   21423   44555   43297
        μ‚Όμ²™μ‹ μ†κ³„     6352    4991   11343   8041  10378   18419   31726   30604
        μ†μ΄μ‹ μ†κ³„     9224    7344   16568   8294  10757   19051   40216   41208
...                 ...     ...     ...    ...    ...     ...     ...     ...
μ¶©μ²­λ¶λ„    μ²­μ£Όμ‹ μ„μ›κµ¬   24933   21029   45962  15442  19733   35175   91321   92055
            μ†κ³„   123802  104519  228321  61307  77676  138983  431274  422289
            μ²­μ›κµ¬   28360   22543   50903  13146  16817   29963   97617   91756
            ν¥λ•κµ¬   45769   38762   84531  16692  20804   37496  143608  138355
        μ¶©μ£Όμ‹ μ†κ³„    24764   18931   43695  21946  27471   49417  105235  102111


κµ¬λ¶„                   ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„  ν–‰μ •κµ¬
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹ μ†κ³„   208251
        κ³ μ„±κµ° μ†κ³„    27143
        λ™ν•΄μ‹ μ†κ³„    87852
        μ‚Όμ²™μ‹ μ†κ³„    62330
        μ†μ΄μ‹ μ†κ³„    81424
...                 ...
μ¶©μ²­λ¶λ„    μ²­μ£Όμ‹ μ„μ›κµ¬  183376
            μ†κ³„   853563
            μ²­μ›κµ¬  189373
            ν¥λ•κµ¬  281963
        μ¶©μ£Όμ‹ μ†κ³„   207346

[264 rows x 9 columns]

<a id="μ†λ©Έ-λΉ„μ¨-κ³„μ‚°"></a>
### μ†λ©Έ λΉ„μ¨ κ³„μ‚°
- μ μ€ μ—¬μ„± μΈκµ¬κ°€ λ…ΈμΈ μΈκµ¬μ μ λ°μ— λ―Έλ‹¬ν•  κ²½μ° 'μ†λ©Έ μ„ν— μ§€μ—­'μΌλ΅ λ¶„λ¥ν•λ” λ°©μ‹ μ—μ„ μ°©μ•ν• κ³„μ‚°λ²•

In [28]:
pop["μ†λ©ΈλΉ„μ¨"] = pop["20-39μ„Έ", "μ—¬μ"] / (pop["65μ„Έμ΄μƒ", "ν•©κ³„"] / 2)
pop.head()

                20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ          \
κµ¬λ¶„                  λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ      μ—¬μ
κ΄‘μ—­μ‹λ„    μ‹λ„  ν–‰μ •κµ¬
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹ μ†κ³„   22901  19250  42151  23028  30168  53196  103188  105063
        κ³ μ„±κµ° μ†κ³„    2823   1956   4779   3934   5028   8962   13909   13234
        λ™ν•΄μ‹ μ†κ³„    9335   7056  16391   9407  12016  21423   44555   43297
        μ‚Όμ²™μ‹ μ†κ³„    6352   4991  11343   8041  10378  18419   31726   30604
        μ†μ΄μ‹ μ†κ³„    9224   7344  16568   8294  10757  19051   40216   41208

                             μ†λ©ΈλΉ„μ¨
κµ¬λ¶„                   ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„  ν–‰μ •κµ¬
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹ μ†κ³„   208251  0.723739
        κ³ μ„±κµ° μ†κ³„    27143  0.436510
        λ™ν•΄μ‹ μ†κ³„    87852  0.658731
        μ‚Όμ²™μ‹ μ†κ³„    62330  0.541940
        μ†μ΄μ‹ μ†κ³„    81424  0.770983

<a id="μ†λ©Έ-μ„κΈ°-μ§€μ—­-μ—¬λ¶€"></a>
### μ†λ©Έ μ„κΈ° μ§€μ—­ μ—¬λ¶€ μ»¬λΌ μƒμ„±

In [29]:
pop["μ†λ©Έμ„κΈ°μ§€μ—­"] = pop["μ†λ©ΈλΉ„μ¨"] < 1.0
pop.head()

                20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ          \
κµ¬λ¶„                  λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ      μ—¬μ
κ΄‘μ—­μ‹λ„    μ‹λ„  ν–‰μ •κµ¬
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹ μ†κ³„   22901  19250  42151  23028  30168  53196  103188  105063
        κ³ μ„±κµ° μ†κ³„    2823   1956   4779   3934   5028   8962   13909   13234
        λ™ν•΄μ‹ μ†κ³„    9335   7056  16391   9407  12016  21423   44555   43297
        μ‚Όμ²™μ‹ μ†κ³„    6352   4991  11343   8041  10378  18419   31726   30604
        μ†μ΄μ‹ μ†κ³„    9224   7344  16568   8294  10757  19051   40216   41208

                             μ†λ©ΈλΉ„μ¨ μ†λ©Έμ„κΈ°μ§€μ—­
κµ¬λ¶„                   ν•©κ³„
κ΄‘μ—­μ‹λ„    μ‹λ„  ν–‰μ •κµ¬
κ°•μ›νΉλ³„μμΉλ„ κ°•λ¦‰μ‹ μ†κ³„   208251  0.723739   True
        κ³ μ„±κµ° μ†κ³„    27143  0.436510   True
        λ™ν•΄μ‹ μ†κ³„    87852  0.658731   True
        μ‚Όμ²™μ‹ μ†κ³„    62330  0.541940   True
        μ†μ΄μ‹ μ†κ³„    81424  0.770983   True

In [30]:
len(pop)

264

In [31]:
# μ†λ©Έμ„κΈ°μ§€μ—­ μ΅°ν

pop[pop["μ†λ©Έμ„κΈ°μ§€μ—­"]==True].index.get_level_values(1)

Index(['κ°•λ¦‰μ‹', 'κ³ μ„±κµ°', 'λ™ν•΄μ‹', 'μ‚Όμ²™μ‹', 'μ†μ΄μ‹', 'μ–‘κµ¬κµ°', 'μ–‘μ–‘κµ°', 'μμ›”κµ°', 'μΈμ κµ°', 'μ •μ„ κµ°',
       ...
       'ν™μ„±κµ°', 'κ΄΄μ‚°κµ°', 'λ‹¨μ–‘κµ°', 'λ³΄μ€κµ°', 'μλ™κµ°', 'μ¥μ²κµ°', 'μμ„±κµ°', 'μ μ²μ‹', 'μ¦ν‰κµ°', 'μ¶©μ£Όμ‹'],
      dtype='object', name='μ‹λ„', length=136)

In [32]:
pop.reset_index(inplace=True)
pop.head()

       κ΄‘μ—­μ‹λ„   μ‹λ„ ν–‰μ •κµ¬ 20-39μ„Έ                65μ„Έμ΄μƒ                   μΈκµ¬μ  \
κµ¬λ¶„                       λ‚¨μ     μ—¬μ     ν•©κ³„     λ‚¨μ     μ—¬μ     ν•©κ³„      λ‚¨μ
0   κ°•μ›νΉλ³„μμΉλ„  κ°•λ¦‰μ‹  μ†κ³„  22901  19250  42151  23028  30168  53196  103188
1   κ°•μ›νΉλ³„μμΉλ„  κ³ μ„±κµ°  μ†κ³„   2823   1956   4779   3934   5028   8962   13909
2   κ°•μ›νΉλ³„μμΉλ„  λ™ν•΄μ‹  μ†κ³„   9335   7056  16391   9407  12016  21423   44555
3   κ°•μ›νΉλ³„μμΉλ„  μ‚Όμ²™μ‹  μ†κ³„   6352   4991  11343   8041  10378  18419   31726
4   κ°•μ›νΉλ³„μμΉλ„  μ†μ΄μ‹  μ†κ³„   9224   7344  16568   8294  10757  19051   40216

                        μ†λ©ΈλΉ„μ¨ μ†λ©Έμ„κΈ°μ§€μ—­
κµ¬λ¶„      μ—¬μ      ν•©κ³„
0   105063  208251  0.723739   True
1    13234   27143  0.436510   True
2    43297   87852  0.658731   True
3    30604   62330  0.541940   True
4    41208   81424  0.770983   True

In [33]:
pop.columns.get_level_values(0)

Index(['κ΄‘μ—­μ‹λ„', 'μ‹λ„', 'ν–‰μ •κµ¬', '20-39μ„Έ', '20-39μ„Έ', '20-39μ„Έ', '65μ„Έμ΄μƒ', '65μ„Έμ΄μƒ',
       '65μ„Έμ΄μƒ', 'μΈκµ¬μ', 'μΈκµ¬μ', 'μΈκµ¬μ', 'μ†λ©ΈλΉ„μ¨', 'μ†λ©Έμ„κΈ°μ§€μ—­'],
      dtype='object')

In [34]:
tmp_columns=[
    pop.columns.get_level_values(0)[n] + pop.columns.get_level_values(1)[n]
    for n in range(0, len(pop.columns.get_level_values(0)))
]
pop.columns = tmp_columns
pop.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­
0,κ°•μ›νΉλ³„μμΉλ„,κ°•λ¦‰μ‹,μ†κ³„,22901,19250,42151,23028,30168,53196,103188,105063,208251,0.723739,True
1,κ°•μ›νΉλ³„μμΉλ„,κ³ μ„±κµ°,μ†κ³„,2823,1956,4779,3934,5028,8962,13909,13234,27143,0.436510,True
2,κ°•μ›νΉλ³„μμΉλ„,λ™ν•΄μ‹,μ†κ³„,9335,7056,16391,9407,12016,21423,44555,43297,87852,0.658731,True
3,κ°•μ›νΉλ³„μμΉλ„,μ‚Όμ²™μ‹,μ†κ³„,6352,4991,11343,8041,10378,18419,31726,30604,62330,0.541940,True
4,κ°•μ›νΉλ³„μμΉλ„,μ†μ΄μ‹,μ†κ³„,9224,7344,16568,8294,10757,19051,40216,41208,81424,0.770983,True

---

<a id="μ§€λ„-id-μƒμ„±"></a>
## 3. μ§€λ„ μ‹κ°ν™”λ¥Ό μ„ν• μ§€μ—­λ³„ ID λ§λ“¤κΈ°
- foliumμ—μ„ μ‚¬μ©ν•λ ¤λ©΄ μ§€μ—­λ§λ‹¤ κ³ μ ν• μ•„μ΄λ”” μ—­ν• μ„ ν•λ” κ²ƒμ΄ ν•„μ”ν•¨. μ‚¬μ©ν•κ³ μ ν•λ” jsonμ—μ„μ id κ°’μ„ κ° ν–‰μ— λ§¤μΉ­ν•΄μ¤€λ‹¤.

In [36]:
pop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   κ΄‘μ—­μ‹λ„      264 non-null    object
 1   μ‹λ„        264 non-null    object
 2   ν–‰μ •κµ¬       264 non-null    object
 3   20-39μ„Έλ‚¨μ  264 non-null    int64
 4   20-39μ„Έμ—¬μ  264 non-null    int64
 5   20-39μ„Έν•©κ³„  264 non-null    int64
 6   65μ„Έμ΄μƒλ‚¨μ   264 non-null    int64
 7   65μ„Έμ΄μƒμ—¬μ   264 non-null    int64
 8   65μ„Έμ΄μƒν•©κ³„   264 non-null    int64
 9   μΈκµ¬μλ‚¨μ     264 non-null    int64
 10  μΈκµ¬μμ—¬μ     264 non-null    int64
 11  μΈκµ¬μν•©κ³„     264 non-null    int64
 12  μ†λ©ΈλΉ„μ¨      264 non-null    float64
 13  μ†λ©Έμ„κΈ°μ§€μ—­    264 non-null    bool
dtypes: bool(1), float64(1), int64(9), object(3)
memory usage: 27.2+ KB

In [37]:
pop["κ΄‘μ—­μ‹λ„"].unique()

array(['κ°•μ›νΉλ³„μμΉλ„', 'κ²½κΈ°λ„', 'κ²½μƒλ‚¨λ„', 'κ²½μƒλ¶λ„', 'κ΄‘μ£Όκ΄‘μ—­μ‹', 'λ€κµ¬κ΄‘μ—­μ‹', 'λ€μ „κ΄‘μ—­μ‹',
       'λ¶€μ‚°κ΄‘μ—­μ‹', 'μ„μΈνΉλ³„μ‹', 'μ„ΈμΆ…νΉλ³„μμΉμ‹', 'μΈμ‚°κ΄‘μ—­μ‹', 'μΈμ²κ΄‘μ—­μ‹', 'μ „λΌλ‚¨λ„', 'μ „λ¶νΉλ³„μμΉλ„',
       'μ μ£ΌνΉλ³„μμΉλ„', 'μ¶©μ²­λ‚¨λ„', 'μ¶©μ²­λ¶λ„'], dtype=object)

In [38]:
pop["μ‹λ„"].unique()

array(['κ°•λ¦‰μ‹', 'κ³ μ„±κµ°', 'λ™ν•΄μ‹', 'μ‚Όμ²™μ‹', 'μ†μ΄μ‹', 'μ–‘κµ¬κµ°', 'μ–‘μ–‘κµ°', 'μμ›”κµ°', 'μ›μ£Όμ‹',
       'μΈμ κµ°', 'μ •μ„ κµ°', 'μ² μ›κµ°', 'μ¶μ²μ‹', 'νƒλ°±μ‹', 'ν‰μ°½κµ°', 'ν™μ²κµ°', 'ν™”μ²κµ°', 'ν΅μ„±κµ°',
       'κ°€ν‰κµ°', 'κ³ μ–‘μ‹', 'κ³Όμ²μ‹', 'κ΄‘λ…μ‹', 'κ΄‘μ£Όμ‹', 'κµ¬λ¦¬μ‹', 'κµ°ν¬μ‹', 'κΉ€ν¬μ‹', 'λ‚¨μ–‘μ£Όμ‹',
       'λ™λ‘μ²μ‹', 'λ¶€μ²μ‹', 'μ„±λ‚¨μ‹', 'μμ›μ‹', 'μ‹ν¥μ‹', 'μ•μ‚°μ‹', 'μ•μ„±μ‹', 'μ•μ–‘μ‹', 'μ–‘μ£Όμ‹',
       'μ–‘ν‰κµ°', 'μ—¬μ£Όμ‹', 'μ—°μ²κµ°', 'μ¤μ‚°μ‹', 'μ©μΈμ‹', 'μμ™•μ‹', 'μμ •λ¶€μ‹', 'μ΄μ²μ‹', 'νμ£Όμ‹',
       'ν‰νƒμ‹', 'ν¬μ²μ‹', 'ν•λ‚¨μ‹', 'ν™”μ„±μ‹', 'κ±°μ μ‹', 'κ±°μ°½κµ°', 'κΉ€ν•΄μ‹', 'λ‚¨ν•΄κµ°', 'λ°€μ–‘μ‹',
       'μ‚¬μ²μ‹', 'μ‚°μ²­κµ°', 'μ–‘μ‚°μ‹', 'μλ Ήκµ°', 'μ§„μ£Όμ‹', 'μ°½λ…•κµ°', 'μ°½μ›μ‹', 'ν†µμμ‹', 'ν•λ™κµ°',
       'ν•¨μ•κµ°', 'ν•¨μ–‘κµ°', 'ν•©μ²κµ°', 'κ²½μ‚°μ‹', 'κ²½μ£Όμ‹', 'κ³ λ Ήκµ°', 'κµ¬λ―Έμ‹', 'κΉ€μ²μ‹', 'λ¬Έκ²½μ‹',
       'λ΄‰ν™”κµ°', 'μƒμ£Όμ‹', 'μ„±μ£Όκµ°', 'μ•λ™μ‹', 'μλ•κµ°', 'μμ–‘κµ°', 'μμ£Όμ‹', 'μμ²μ‹', 'μμ²κµ°',
       'μΈλ¦‰κµ°', 'μΈμ§„κµ°', 'μμ„±κµ°', 'μ²­λ„κµ°', 'μ²­μ†΅κµ°', 'μΉ κ³΅κµ°', 'ν¬ν•­μ‹', 'κ΄‘μ‚°κµ¬', 'λ‚¨κµ¬', 'λ™κµ¬',
       'λ¶κµ¬', 'μ„κµ¬', 'κµ°μ„κµ°', 'λ‹¬μ„κµ¬', 'λ‹¬μ„±κµ°', 'μμ„±κµ¬', 'μ¤‘κµ¬', 'λ€λ•κµ¬', 'μ μ„±κµ¬', 'κ°•μ„κµ¬',
       'κΈμ •κµ¬', 'κΈ°μ¥κµ°', 'λ™λκµ¬', 'λ¶€μ‚°μ§„κµ¬', 'μ‚¬μƒκµ¬', 'μ‚¬ν•κµ¬', 'μμκµ¬', 'μ—°μ κµ¬', 'μλ„κµ¬',
       'ν•΄μ΄λ€κµ¬', 'κ°•λ‚¨κµ¬', 'κ°•λ™κµ¬', 'κ°•λ¶κµ¬', 'κ΄€μ•…κµ¬', 'κ΄‘μ§„κµ¬', 'κµ¬λ΅κµ¬', 'κΈμ²κµ¬', 'λ…Έμ›κµ¬',
       'λ„λ΄‰κµ¬', 'λ™λ€λ¬Έκµ¬', 'λ™μ‘κµ¬', 'λ§ν¬κµ¬', 'μ„λ€λ¬Έκµ¬', 'μ„μ΄κµ¬', 'μ„±λ™κµ¬', 'μ„±λ¶κµ¬', 'μ†΅νκµ¬',
       'μ–‘μ²κµ¬', 'μλ“±ν¬κµ¬', 'μ©μ‚°κµ¬', 'μ€ν‰κµ¬', 'μΆ…λ΅κµ¬', 'μ¤‘λ‘κµ¬', 'μ„ΈμΆ…νΉλ³„μμΉμ‹', 'μΈμ£Όκµ°', 'κ°•ν™”κµ°',
       'κ³„μ–‘κµ¬', 'λ‚¨λ™κµ¬', 'λ―Έμ¶”ν™€κµ¬', 'λ¶€ν‰κµ¬', 'μ—°μκµ¬', 'μΉμ§„κµ°', 'κ°•μ§„κµ°', 'κ³ ν¥κµ°', 'κ³΅μ„±κµ°',
       'κ΄‘μ–‘μ‹', 'κµ¬λ΅€κµ°', 'λ‚μ£Όμ‹', 'λ‹΄μ–‘κµ°', 'λ©ν¬μ‹', 'λ¬΄μ•κµ°', 'λ³΄μ„±κµ°', 'μμ²μ‹', 'μ‹ μ•κµ°',
       'μ—¬μμ‹', 'μκ΄‘κµ°', 'μμ•”κµ°', 'μ™„λ„κµ°', 'μ¥μ„±κµ°', 'μ¥ν¥κµ°', 'μ§„λ„κµ°', 'ν•¨ν‰κµ°', 'ν•΄λ‚¨κµ°',
       'ν™”μκµ°', 'κ³ μ°½κµ°', 'κµ°μ‚°μ‹', 'κΉ€μ μ‹', 'λ‚¨μ›μ‹', 'λ¬΄μ£Όκµ°', 'λ¶€μ•κµ°', 'μμ°½κµ°', 'μ™„μ£Όκµ°',
       'μµμ‚°μ‹', 'μ„μ‹¤κµ°', 'μ¥μκµ°', 'μ „μ£Όμ‹', 'μ •μμ‹', 'μ§„μ•κµ°', 'μ„κ·€ν¬μ‹', 'μ μ£Όμ‹', 'κ³„λ£΅μ‹',
       'κ³µμ£Όμ‹', 'κΈμ‚°κµ°', 'λ…Όμ‚°μ‹', 'λ‹Ήμ§„μ‹', 'λ³΄λ Ήμ‹', 'λ¶€μ—¬κµ°', 'μ„μ‚°μ‹', 'μ„μ²κµ°', 'μ•„μ‚°μ‹',
       'μμ‚°κµ°', 'μ²μ•μ‹', 'μ²­μ–‘κµ°', 'νƒμ•κµ°', 'ν™μ„±κµ°', 'κ΄΄μ‚°κµ°', 'λ‹¨μ–‘κµ°', 'λ³΄μ€κµ°', 'μλ™κµ°',
       'μ¥μ²κµ°', 'μμ„±κµ°', 'μ μ²μ‹', 'μ¦ν‰κµ°', 'μ§„μ²κµ°', 'μ²­μ£Όμ‹', 'μ¶©μ£Όμ‹'], dtype=object)

In [39]:
pop["ν–‰μ •κµ¬"].unique()

array(['μ†κ³„', 'λ•μ–‘κµ¬', 'μΌμ‚°λ™κµ¬', 'μΌμ‚°μ„κµ¬', 'μ†μ‚¬κµ¬', 'μ¤μ •κµ¬', 'μ›λ―Έκµ¬', 'λ¶„λ‹Ήκµ¬', 'μμ •κµ¬',
       'μ¤‘μ›κµ¬', 'κ¶μ„ κµ¬', 'μν†µκµ¬', 'μ¥μ•κµ¬', 'ν”λ‹¬κµ¬', 'λ‹¨μ›κµ¬', 'μƒλ΅κµ¬', 'λ™μ•κµ¬', 'λ§μ•κµ¬',
       'κΈ°ν¥κµ¬', 'μμ§€κµ¬', 'μ²μΈκµ¬', 'λ§μ‚°ν•©ν¬κµ¬', 'λ§μ‚°νμ›κµ¬', 'μ„±μ‚°κµ¬', 'μμ°½κµ¬', 'μ§„ν•΄κµ¬', 'λ‚¨κµ¬',
       'λ¶κµ¬', 'λ•μ§„κµ¬', 'μ™„μ‚°κµ¬', 'λ™λ‚¨κµ¬', 'μ„λ¶κµ¬', 'μƒλ‹Ήκµ¬', 'μ„μ›κµ¬', 'μ²­μ›κµ¬', 'ν¥λ•κµ¬'],
      dtype=object)

#### ν–‰μ •κµ¬μ λ°μ΄ν„°κ°€ μλ” "μ‹λ„"μ "μ†κ³„" ν–‰μ€ μ κ±°

In [40]:
tmp_gu = np.delete(pop["ν–‰μ •κµ¬"].unique(), 0)

In [41]:
tmp_gu = list(tmp_gu)
tmp_gu

['λ•μ–‘κµ¬',
 'μΌμ‚°λ™κµ¬',
 'μΌμ‚°μ„κµ¬',
 'μ†μ‚¬κµ¬',
 'μ¤μ •κµ¬',
 'μ›λ―Έκµ¬',
 'λ¶„λ‹Ήκµ¬',
 'μμ •κµ¬',
 'μ¤‘μ›κµ¬',
 'κ¶μ„ κµ¬',
 'μν†µκµ¬',
 'μ¥μ•κµ¬',
 'ν”λ‹¬κµ¬',
 'λ‹¨μ›κµ¬',
 'μƒλ΅κµ¬',
 'λ™μ•κµ¬',
 'λ§μ•κµ¬',
 'κΈ°ν¥κµ¬',
 'μμ§€κµ¬',
 'μ²μΈκµ¬',
 'λ§μ‚°ν•©ν¬κµ¬',
 'λ§μ‚°νμ›κµ¬',
 'μ„±μ‚°κµ¬',
 'μμ°½κµ¬',
 'μ§„ν•΄κµ¬',
 'λ‚¨κµ¬',
 'λ¶κµ¬',
 'λ•μ§„κµ¬',
 'μ™„μ‚°κµ¬',
 'λ™λ‚¨κµ¬',
 'μ„λ¶κµ¬',
 'μƒλ‹Ήκµ¬',
 'μ„μ›κµ¬',
 'μ²­μ›κµ¬',
 'ν¥λ•κµ¬']

In [43]:
pop[pop["ν–‰μ •κµ¬"].isin(tmp_gu)]["μ‹λ„"].unique()

array(['κ³ μ–‘μ‹', 'λ¶€μ²μ‹', 'μ„±λ‚¨μ‹', 'μμ›μ‹', 'μ•μ‚°μ‹', 'μ•μ–‘μ‹', 'μ©μΈμ‹', 'μ°½μ›μ‹', 'ν¬ν•­μ‹',
       'μ „μ£Όμ‹', 'μ²μ•μ‹', 'μ²­μ£Όμ‹'], dtype=object)

In [45]:
pop[(pop["μ‹λ„"].isin(pop[pop["ν–‰μ •κµ¬"].isin(tmp_gu)]["μ‹λ„"].unique())) & (pop["ν–‰μ •κµ¬"] == "μ†κ³„")]

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­
20,κ²½κΈ°λ„,κ³ μ–‘μ‹,μ†κ³„,138033,136822,274855,79159,100341,179500,522495,549307,1071802,1.524479,False
31,κ²½κΈ°λ„,λ¶€μ²μ‹,μ†κ³„,103406,97375,200781,63241,76727,139968,382151,391538,773689,1.391389,False
36,κ²½κΈ°λ„,μ„±λ‚¨μ‹,μ†κ³„,127667,120983,248650,71124,86562,157686,453606,463009,916615,1.534480,False
40,κ²½κΈ°λ„,μμ›μ‹,μ†κ³„,188957,170240,359197,72732,90940,163672,601857,594814,1196671,2.080258,False
47,κ²½κΈ°λ„,μ•μ‚°μ‹,μ†κ³„,93768,79696,173464,41729,49642,91371,320093,304695,624788,1.744448,False
51,κ²½κΈ°λ„,μ•μ–‘μ‹,μ†κ³„,75893,70975,146868,42358,51493,93851,270324,277681,548005,1.512504,False
58,κ²½κΈ°λ„,μ©μΈμ‹,μ†κ³„,137090,129437,266527,76395,95022,171417,537346,546110,1083456,1.510200,False
84,κ²½μƒλ‚¨λ„,μ°½μ›μ‹,μ†κ³„,125340,102160,227500,84383,102545,186928,507814,495362,1003176,1.093041,False
115,κ²½μƒλ¶λ„,ν¬ν•­μ‹,μ†κ³„,58203,44512,102715,48756,58910,107666,250169,242266,492435,0.826853,True
226,μ „λ¶νΉλ³„μμΉλ„,μ „μ£Όμ‹,μ†κ³„,82816,76651,159467,49678,64965,114643,313679,325285,638964,1.337212,False
245,μ¶©μ²­λ‚¨λ„,μ²μ•μ‹,μ†κ³„,99694,85900,185594,40282,49307,89589,337756,320781,658537,1.917646,False
260,μ¶©μ²­λ¶λ„,μ²­μ£Όμ‹,μ†κ³„,123802,104519,228321,61307,77676,138983,431274,422289,853563,1.504054,False

In [46]:
rows_to_remove = pop[(pop["μ‹λ„"].isin(pop[pop["ν–‰μ •κµ¬"].isin(tmp_gu)]["μ‹λ„"].unique())) & (pop["ν–‰μ •κµ¬"] == "μ†κ³„")]
pop = pop.drop(rows_to_remove.index)
pop.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­
0,κ°•μ›νΉλ³„μμΉλ„,κ°•λ¦‰μ‹,μ†κ³„,22901,19250,42151,23028,30168,53196,103188,105063,208251,0.723739,True
1,κ°•μ›νΉλ³„μμΉλ„,κ³ μ„±κµ°,μ†κ³„,2823,1956,4779,3934,5028,8962,13909,13234,27143,0.436510,True
2,κ°•μ›νΉλ³„μμΉλ„,λ™ν•΄μ‹,μ†κ³„,9335,7056,16391,9407,12016,21423,44555,43297,87852,0.658731,True
3,κ°•μ›νΉλ³„μμΉλ„,μ‚Όμ²™μ‹,μ†κ³„,6352,4991,11343,8041,10378,18419,31726,30604,62330,0.541940,True
4,κ°•μ›νΉλ³„μμΉλ„,μ†μ΄μ‹,μ†κ³„,9224,7344,16568,8294,10757,19051,40216,41208,81424,0.770983,True

In [47]:
pop.reset_index(drop=True, inplace=True)
pop.tail()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­
247,μ¶©μ²­λ¶λ„,μ²­μ£Όμ‹,μƒλ‹Ήκµ¬,24740,22185,46925,16027,20322,36349,98728,100123,198851,1.220666,False
248,μ¶©μ²­λ¶λ„,μ²­μ£Όμ‹,μ„μ›κµ¬,24933,21029,45962,15442,19733,35175,91321,92055,183376,1.195679,False
249,μ¶©μ²­λ¶λ„,μ²­μ£Όμ‹,μ²­μ›κµ¬,28360,22543,50903,13146,16817,29963,97617,91756,189373,1.504722,False
250,μ¶©μ²­λ¶λ„,μ²­μ£Όμ‹,ν¥λ•κµ¬,45769,38762,84531,16692,20804,37496,143608,138355,281963,2.067527,False
251,μ¶©μ²­λ¶λ„,μ¶©μ£Όμ‹,μ†κ³„,24764,18931,43695,21946,27471,49417,105235,102111,207346,0.766174,True

In [60]:
pop[pop["μ‹λ„"] == "κ³ μ„±κµ°"]

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­,ID
1,κ°•μ›νΉλ³„μμΉλ„,κ³ μ„±κµ°,μ†κ³„,2823,1956,4779,3934,5028,8962,13909,13234,27143,0.436510,True,κ³ μ„±
64,κ²½μƒλ‚¨λ„,κ³ μ„±κµ°,μ†κ³„,3371,2416,5787,7638,10059,17697,24629,23968,48597,0.273041,True,κ³ μ„±

- μΌλ° μ‹μ μ΄λ¦„ μ •λ¦¬
- μ„ΈμΆ…μ‹μ μ΄λ¦„ μ •λ¦¬
- κ΄‘μ—­μ‹λ„, νΉλ³„μ‹, νΉλ³„μμΉλ„μ μ‹κµ¬λ¥Ό μ •λ¦¬

In [63]:
si_name = ['' for i in range(0, len(pop))]

for idx, row in pop.iterrows():
    
    # ν–‰μ •κµ¬κ°€ μμ„ κ²½μ° "μ‹λ„ ν–‰μ •κµ¬" λ΅ IDλ¥Ό μ„¤μ •
    if row["ν–‰μ •κµ¬"] != "μ†κ³„":
        if row["ν–‰μ •κµ¬"] in ["λ§μ‚°ν•©ν¬κµ¬", "λ§μ‚°νμ›κµ¬"]:
            si_name[idx] = row["μ‹λ„"][:2] + " " + row["ν–‰μ •κµ¬"][2:-1]
        elif len(row["ν–‰μ •κµ¬"]) == 2:
            si_name[idx] = row["μ‹λ„"][:2] + " " + row["ν–‰μ •κµ¬"]
        else:
            si_name[idx] = row["μ‹λ„"][:2] + " " + row["ν–‰μ •κµ¬"][:-1]
    
    elif row["μ‹λ„"] == "κ³ μ„±κµ°":
        if row["κ΄‘μ—­μ‹λ„"] == "κ°•μ›νΉλ³„μμΉλ„":
            si_name[idx] = "κ³ μ„±(κ°•μ›)"
        else:
            si_name[idx] = "κ³ μ„±(κ²½λ‚¨)"
    
    # κ°•λ¦‰μ‹ -> κ°•λ¦‰, μ¶μ²μ‹ -> μ¶μ²
    elif row["κ΄‘μ—­μ‹λ„"][-3:] not in ["κ΄‘μ—­μ‹", "νΉλ³„μ‹", "μμΉμ‹"]:
        si_name[idx] = row["μ‹λ„"][:-1]
        
    elif row["κ΄‘μ—­μ‹λ„"] == "μ„ΈμΆ…νΉλ³„μμΉμ‹":
        si_name[idx] = "μ„ΈμΆ…"
        
    # μ¤‘κµ¬ -> μΈμ² μ¤‘κµ¬
    # κ°•λ‚¨κµ¬ -> μ„μΈ κ°•λ‚¨
    else:
        if len(row["μ‹λ„"]) == 2:
            si_name[idx] = row["κ΄‘μ—­μ‹λ„"][:2] + " " + row["μ‹λ„"]
        else:
            si_name[idx] = row["κ΄‘μ—­μ‹λ„"][:2] + " " + row["μ‹λ„"][:-1]

In [64]:
si_name

['κ°•λ¦‰',
 'κ³ μ„±(κ°•μ›)',
 'λ™ν•΄',
 'μ‚Όμ²™',
 'μ†μ΄',
 'μ–‘κµ¬',
 'μ–‘μ–‘',
 'μμ›”',
 'μ›μ£Ό',
 'μΈμ ',
 'μ •μ„ ',
 'μ² μ›',
 'μ¶μ²',
 'νƒλ°±',
 'ν‰μ°½',
 'ν™μ²',
 'ν™”μ²',
 'ν΅μ„±',
 'κ°€ν‰',
 'κ³ μ–‘ λ•μ–‘',
 'κ³ μ–‘ μΌμ‚°λ™',
 'κ³ μ–‘ μΌμ‚°μ„',
 'κ³Όμ²',
 'κ΄‘λ…',
 'κ΄‘μ£Ό',
 'κµ¬λ¦¬',
 'κµ°ν¬',
 'κΉ€ν¬',
 'λ‚¨μ–‘μ£Ό',
 'λ™λ‘μ²',
 'λ¶€μ² μ†μ‚¬',
 'λ¶€μ² μ¤μ •',
 'λ¶€μ² μ›λ―Έ',
 'μ„±λ‚¨ λ¶„λ‹Ή',
 'μ„±λ‚¨ μμ •',
 'μ„±λ‚¨ μ¤‘μ›',
 'μμ› κ¶μ„ ',
 'μμ› μν†µ',
 'μμ› μ¥μ•',
 'μμ› ν”λ‹¬',
 'μ‹ν¥',
 'μ•μ‚° λ‹¨μ›',
 'μ•μ‚° μƒλ΅',
 'μ•μ„±',
 'μ•μ–‘ λ™μ•',
 'μ•μ–‘ λ§μ•',
 'μ–‘μ£Ό',
 'μ–‘ν‰',
 'μ—¬μ£Ό',
 'μ—°μ²',
 'μ¤μ‚°',
 'μ©μΈ κΈ°ν¥',
 'μ©μΈ μμ§€',
 'μ©μΈ μ²μΈ',
 'μμ™•',
 'μμ •λ¶€',
 'μ΄μ²',
 'νμ£Ό',
 'ν‰νƒ',
 'ν¬μ²',
 'ν•λ‚¨',
 'ν™”μ„±',
 'κ±°μ ',
 'κ±°μ°½',
 'κ³ μ„±(κ²½λ‚¨)',
 'κΉ€ν•΄',
 'λ‚¨ν•΄',
 'λ°€μ–‘',
 'μ‚¬μ²',
 'μ‚°μ²­',
 'μ–‘μ‚°',
 'μλ Ή',
 'μ§„μ£Ό',
 'μ°½λ…•',
 'μ°½μ› ν•©ν¬',
 'μ°½μ› νμ›',
 'μ°½μ› μ„±μ‚°',
 'μ°½μ› μμ°½',
 'μ°½μ› μ§„ν•΄',
 'ν†µμ',
 'ν•λ™',
 'ν•¨μ•',
 'ν•¨μ–‘',
 'ν•©μ²',
 'κ²½μ‚°',
 'κ²½μ£Ό',
 'κ³ λ Ή',
 'κµ¬λ―Έ',
 'κΉ€μ²',
 'λ¬Έκ²½',
 'λ΄‰ν™”',
 'μƒμ£Ό',
 'μ„±μ£Ό',
 'μ•λ™',
 'μλ•',
 'μμ–‘',
 'μμ£Ό',
 'μμ²',
 'μμ²',
 'μΈλ¦‰',
 'μΈμ§„',
 'μμ„±',
 'μ²­λ„',
 'μ²­μ†΅',
 'μΉ κ³΅',
 'ν¬ν•­ λ‚¨κµ¬',
 'ν¬ν•­ λ¶κµ¬',
 'κ΄‘μ£Ό κ΄‘μ‚°',
 'κ΄‘μ£Ό λ‚¨κµ¬',
 'κ΄‘μ£Ό λ™κµ¬',
 'κ΄‘μ£Ό λ¶κµ¬',
 'κ΄‘μ£Ό μ„κµ¬',
 'λ€κµ¬ κµ°μ„',
 'λ€κµ¬ λ‚¨κµ¬',
 'λ€κµ¬ λ‹¬μ„',
 'λ€κµ¬ λ‹¬μ„±',
 'λ€κµ¬ λ™κµ¬',
 'λ€κµ¬ λ¶κµ¬',
 'λ€κµ¬ μ„κµ¬',
 'λ€κµ¬ μμ„±',
 'λ€κµ¬ μ¤‘κµ¬',
 'λ€μ „ λ€λ•',
 'λ€μ „ λ™κµ¬',
 'λ€μ „ μ„κµ¬',
 'λ€μ „ μ μ„±',
 'λ€μ „ μ¤‘κµ¬',
 'λ¶€μ‚° κ°•μ„',
 'λ¶€μ‚° κΈμ •',
 'λ¶€μ‚° κΈ°μ¥',
 'λ¶€μ‚° λ‚¨κµ¬',
 'λ¶€μ‚° λ™κµ¬',
 'λ¶€μ‚° λ™λ',
 'λ¶€μ‚° λ¶€μ‚°μ§„',
 'λ¶€μ‚° λ¶κµ¬',
 'λ¶€μ‚° μ‚¬μƒ',
 'λ¶€μ‚° μ‚¬ν•',
 'λ¶€μ‚° μ„κµ¬',
 'λ¶€μ‚° μμ',
 'λ¶€μ‚° μ—°μ ',
 'λ¶€μ‚° μλ„',
 'λ¶€μ‚° μ¤‘κµ¬',
 'λ¶€μ‚° ν•΄μ΄λ€',
 'μ„μΈ κ°•λ‚¨',
 'μ„μΈ κ°•λ™',
 'μ„μΈ κ°•λ¶',
 'μ„μΈ κ°•μ„',
 'μ„μΈ κ΄€μ•…',
 'μ„μΈ κ΄‘μ§„',
 'μ„μΈ κµ¬λ΅',
 'μ„μΈ κΈμ²',
 'μ„μΈ λ…Έμ›',
 'μ„μΈ λ„λ΄‰',
 'μ„μΈ λ™λ€λ¬Έ',
 'μ„μΈ λ™μ‘',
 'μ„μΈ λ§ν¬',
 'μ„μΈ μ„λ€λ¬Έ',
 'μ„μΈ μ„μ΄',
 'μ„μΈ μ„±λ™',
 'μ„μΈ μ„±λ¶',
 'μ„μΈ μ†΅ν',
 'μ„μΈ μ–‘μ²',
 'μ„μΈ μλ“±ν¬',
 'μ„μΈ μ©μ‚°',
 'μ„μΈ μ€ν‰',
 'μ„μΈ μΆ…λ΅',
 'μ„μΈ μ¤‘κµ¬',
 'μ„μΈ μ¤‘λ‘',
 'μ„ΈμΆ…',
 'μΈμ‚° λ‚¨κµ¬',
 'μΈμ‚° λ™κµ¬',
 'μΈμ‚° λ¶κµ¬',
 'μΈμ‚° μΈμ£Ό',
 'μΈμ‚° μ¤‘κµ¬',
 'μΈμ² κ°•ν™”',
 'μΈμ² κ³„μ–‘',
 'μΈμ² λ‚¨λ™',
 'μΈμ² λ™κµ¬',
 'μΈμ² λ―Έμ¶”ν™€',
 'μΈμ² λ¶€ν‰',
 'μΈμ² μ„κµ¬',
 'μΈμ² μ—°μ',
 'μΈμ² μΉμ§„',
 'μΈμ² μ¤‘κµ¬',
 'κ°•μ§„',
 'κ³ ν¥',
 'κ³΅μ„±',
 'κ΄‘μ–‘',
 'κµ¬λ΅€',
 'λ‚μ£Ό',
 'λ‹΄μ–‘',
 'λ©ν¬',
 'λ¬΄μ•',
 'λ³΄μ„±',
 'μμ²',
 'μ‹ μ•',
 'μ—¬μ',
 'μκ΄‘',
 'μμ•”',
 'μ™„λ„',
 'μ¥μ„±',
 'μ¥ν¥',
 'μ§„λ„',
 'ν•¨ν‰',
 'ν•΄λ‚¨',
 'ν™”μ',
 'κ³ μ°½',
 'κµ°μ‚°',
 'κΉ€μ ',
 'λ‚¨μ›',
 'λ¬΄μ£Ό',
 'λ¶€μ•',
 'μμ°½',
 'μ™„μ£Ό',
 'μµμ‚°',
 'μ„μ‹¤',
 'μ¥μ',
 'μ „μ£Ό λ•μ§„',
 'μ „μ£Ό μ™„μ‚°',
 'μ •μ',
 'μ§„μ•',
 'μ„κ·€ν¬',
 'μ μ£Ό',
 'κ³„λ£΅',
 'κ³µμ£Ό',
 'κΈμ‚°',
 'λ…Όμ‚°',
 'λ‹Ήμ§„',
 'λ³΄λ Ή',
 'λ¶€μ—¬',
 'μ„μ‚°',
 'μ„μ²',
 'μ•„μ‚°',
 'μμ‚°',
 'μ²μ• λ™λ‚¨',
 'μ²μ• μ„λ¶',
 'μ²­μ–‘',
 'νƒμ•',
 'ν™μ„±',
 'κ΄΄μ‚°',
 'λ‹¨μ–‘',
 'λ³΄μ€',
 'μλ™',
 'μ¥μ²',
 'μμ„±',
 'μ μ²',
 'μ¦ν‰',
 'μ§„μ²',
 'μ²­μ£Ό μƒλ‹Ή',
 'μ²­μ£Ό μ„μ›',
 'μ²­μ£Ό μ²­μ›',
 'μ²­μ£Ό ν¥λ•',
 'μ¶©μ£Ό']

In [65]:
pop["ID"] = si_name

In [66]:
pop.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έλ‚¨μ,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒλ‚¨μ,65μ„Έμ΄μƒμ—¬μ,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­,ID
0,κ°•μ›νΉλ³„μμΉλ„,κ°•λ¦‰μ‹,μ†κ³„,22901,19250,42151,23028,30168,53196,103188,105063,208251,0.723739,True,κ°•λ¦‰
1,κ°•μ›νΉλ³„μμΉλ„,κ³ μ„±κµ°,μ†κ³„,2823,1956,4779,3934,5028,8962,13909,13234,27143,0.436510,True,κ³ μ„±(κ°•μ›)
2,κ°•μ›νΉλ³„μμΉλ„,λ™ν•΄μ‹,μ†κ³„,9335,7056,16391,9407,12016,21423,44555,43297,87852,0.658731,True,λ™ν•΄
3,κ°•μ›νΉλ³„μμΉλ„,μ‚Όμ²™μ‹,μ†κ³„,6352,4991,11343,8041,10378,18419,31726,30604,62330,0.541940,True,μ‚Όμ²™
4,κ°•μ›νΉλ³„μμΉλ„,μ†μ΄μ‹,μ†κ³„,9224,7344,16568,8294,10757,19051,40216,41208,81424,0.770983,True,μ†μ΄

In [67]:
del pop["20-39μ„Έλ‚¨μ"]
del pop["65μ„Έμ΄μƒλ‚¨μ"]
del pop["65μ„Έμ΄μƒμ—¬μ"]

In [68]:
pop.head()

,κ΄‘μ—­μ‹λ„,μ‹λ„,ν–‰μ •κµ¬,20-39μ„Έμ—¬μ,20-39μ„Έν•©κ³„,65μ„Έμ΄μƒν•©κ³„,μΈκµ¬μλ‚¨μ,μΈκµ¬μμ—¬μ,μΈκµ¬μν•©κ³„,μ†λ©ΈλΉ„μ¨,μ†λ©Έμ„κΈ°μ§€μ—­,ID
0,κ°•μ›νΉλ³„μμΉλ„,κ°•λ¦‰μ‹,μ†κ³„,19250,42151,53196,103188,105063,208251,0.723739,True,κ°•λ¦‰
1,κ°•μ›νΉλ³„μμΉλ„,κ³ μ„±κµ°,μ†κ³„,1956,4779,8962,13909,13234,27143,0.436510,True,κ³ μ„±(κ°•μ›)
2,κ°•μ›νΉλ³„μμΉλ„,λ™ν•΄μ‹,μ†κ³„,7056,16391,21423,44555,43297,87852,0.658731,True,λ™ν•΄
3,κ°•μ›νΉλ³„μμΉλ„,μ‚Όμ²™μ‹,μ†κ³„,4991,11343,18419,31726,30604,62330,0.541940,True,μ‚Όμ²™
4,κ°•μ›νΉλ³„μμΉλ„,μ†μ΄μ‹,μ†κ³„,7344,16568,19051,40216,41208,81424,0.770983,True,μ†μ΄

---

<a id="μ‚¬μ©-ν•¨μ-μμ "></a>
## μ‚¬μ© ν•¨μ μμ

<a id="fill-na"></a>
### fillna()

In [184]:
datas = {
    "A": np.random.randint(1, 45, 8),
    "B": np.random.randint(1, 45, 8),
    "C": np.random.randint(1, 45, 8),
}

datas

{'A': array([ 2, 43,  2, 37,  5,  9, 34, 30]),
 'B': array([22, 28, 42, 28,  9,  7,  3,  8]),
 'C': array([35,  6, 20, 32, 12,  9, 21, 28])}

In [185]:
fillna_df = pd.DataFrame(datas)
fillna_df

    A   B   C
0   2  22  35
1  43  28   6
2   2  42  20
3  37  28  32
4   5   9  12
5   9   7   9
6  34   3  21
7  30   8  28

In [186]:
fillna_df.loc[2:4, ["A"]] = np.nan
fillna_df.loc[3:5, ["B"]] = np.nan
fillna_df.loc[4:7, ["C"]] = np.nan
fillna_df

      A     B     C
0   2.0  22.0  35.0
1  43.0  28.0   6.0
2   NaN  42.0  20.0
3   NaN   NaN  32.0
4   NaN   NaN   NaN
5   9.0   NaN   NaN
6  34.0   3.0   NaN
7  30.0   8.0   NaN

####  method
```
method : {'backfill', 'bfill', 'pad', 'ffill', None}, default None
    Method to use for filling holes in reindexed Series
    pad / ffill: propagate last valid observation forward to next valid
    backfill / bfill: use next valid observation to fill gap.
```

In [187]:
fillna_df.fillna(method="pad")

      A     B     C
0   2.0  22.0  35.0
1  43.0  28.0   6.0
2  43.0  42.0  20.0
3  43.0  42.0  32.0
4  43.0  42.0  32.0
5   9.0  42.0  32.0
6  34.0   3.0  32.0
7  30.0   8.0  32.0

In [188]:
fillna_df.fillna(method="backfill")

      A     B     C
0   2.0  22.0  35.0
1  43.0  28.0   6.0
2   9.0  42.0  20.0
3   9.0   3.0  32.0
4   9.0   3.0   NaN
5   9.0   3.0   NaN
6  34.0   3.0   NaN
7  30.0   8.0   NaN

In [189]:
fillna_df.fillna(method="backfill", axis=1)

      A     B     C
0   2.0  22.0  35.0
1  43.0  28.0   6.0
2  42.0  42.0  20.0
3  32.0  32.0  32.0
4   NaN   NaN   NaN
5   9.0   NaN   NaN
6  34.0   3.0   NaN
7  30.0   8.0   NaN